Repository redwoodjs/graphql, pull requests merged in 2020-12, with the labels that each got.

#1536 Auth: Supabase 1.0
  packages/api/src/auth/decoders/index.ts
  packages/api/src/auth/decoders/supabase.ts
  packages/api/src/functions/authDecoder.test.ts
  packages/auth/package.json
  packages/auth/src/authClients/index.ts
  packages/auth/src/authClients/supabase.ts
  yarn.lock
Labels: topic: auth

#1539 Supabase getToken uses session to get access_token so that graphql calls are authenticated
  packages/auth/src/authClients/supabase.ts
Labels: kind/bug, topic: auth

#1540 Update Setup TailwindCSS to v2 using PostCSS v7 compatible install
  packages/cli/src/commands/setup/tailwind/tailwind.js
Labels: topic: cli

#1311 Support Azure AD authentication: Implementation
  packages/api/src/auth/decoders/azureActiveDirectory.ts
  packages/api/src/auth/decoders/index.ts
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/authClients/azureActiveDirectory.ts
  packages/auth/src/authClients/index.ts
  packages/cli/src/commands/generate/auth/providers/azureActiveDirectory.js
  packages/cli/src/commands/generate/auth/templates/azureActiveDirectory.auth.js.template
Labels: hacktoberfest-accepted, kind/improvement, topic: auth

#1454 Add flags to generators to skip tests and story files
  packages/cli/src/commands/generate/cell/__tests__/cell.test.js
  packages/cli/src/commands/generate/cell/cell.js
  packages/cli/src/commands/generate/component/__tests__/component.test.ts
  packages/cli/src/commands/generate/component/component.js
  packages/cli/src/commands/generate/helpers.js
  packages/cli/src/commands/generate/layout/__tests__/layout.test.ts
  packages/cli/src/commands/generate/layout/layout.js
  packages/cli/src/commands/generate/page/__tests__/page.test.js
  packages/cli/src/commands/generate/page/page.js
  packages/cli/src/commands/generate/service/__tests__/service.test.js
  packages/cli/src/commands/generate/service/service.js
Labels: next release docs, topic: generators, topic: storybook, topic: testing

#1526 fix(router): Include queryParams in redirectTo
  packages/router/src/__tests__/router.test.js
  packages/router/src/named-routes.js
  packages/router/src/router.js
Labels: next release, topic: router

#1579 Tailwind setup: use fs.renameSync instead of mv
  packages/cli/src/commands/setup/tailwind/tailwind.js
Labels: topic: windows

#1564 supabase@1.1.1 with cleaner imports
  packages/auth/package.json
  packages/auth/src/authClients/supabase.ts
  yarn.lock
Labels: topic: auth

#1555 Firebase Auth: Signup, login with email, password
  packages/auth/src/authClients/firebase.ts
Labels: topic: auth
