Repository redwoodjs/graphql, pull requests merged in 2021-07, with the labels that each got.

#2889 Fixed whileLoading is not rendered while loading
  packages/router/src/Set.tsx
  packages/router/src/__tests__/router.test.tsx
  packages/router/src/page-loader.tsx
  packages/router/src/router.tsx
Labels: next-release/breaking, next-release/update-docs

#2914 Apollo Server / Envelop enhancements: logging, tracing, e2e tests
  .github/workflows/e2e.yaml
  packages/api/package.json
  packages/api/src/functions/graphql.ts
  packages/core/package.json
  packages/create-redwood-app/template/api/src/functions/graphql.ts
  packages/forms/src/FormError.tsx
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.ts
  packages/graphql-server/src/index.ts
  packages/internal/package.json
  packages/structure/package.json
  packages/web/package.json
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step0_2_GraphQL.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step4_1_DbSchema.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step8_1_ContactPageWithoutJsEmailValidation.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step8_2_CreateContactServiceValidation.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step9_1_RequireAuth.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step9_2_PostsRequireAuth.js
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step9_3_DisableAuth.js
  tasks/e2e/cypress/integration/01-tutorial/tutorial.spec.js
  tasks/e2e/cypress/integration/02-cli/02-cli-commands.spec.js
  tasks/e2e/cypress/integration/05-tutorial-envelop/codemods/Step0_2_GraphQL.js
  tasks/e2e/cypress/integration/05-tutorial-envelop/codemods/Step8_2_CreateContactServiceValidation.js
  tasks/e2e/cypress/integration/05-tutorial-envelop/tutorial-helix-envelop.spec.js
  tasks/run-e2e
  yarn.lock
Labels: next-release/breaking, next-release/update-docs, topic/graphql

#2892 resolve storybook config to Framework
  packages/cli/src/commands/storybook.js
  packages/testing/config/storybook/main.js
  packages/web/src/apollo/index.tsx
Labels: topic/storybook

#2965 Upgrades supabase-js to support Discord third party authentication
  packages/auth/package.json
  packages/auth/src/authClients/supabase.ts
  yarn.lock
Labels: topic/auth

#2915 upgrade Prisma v2.26.0
  packages/api/package.json
  packages/cli/package.json
  packages/graphql-server/package.json
  packages/structure/package.json
  yarn.lock
Labels: topic/prisma

#2909 Add helmet to web for meta tags | Prerender support
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/create-redwood-app/template/web/src/App.tsx
  packages/prerender/ambient.d.ts
  packages/prerender/package.json
  packages/prerender/src/internal.ts
  packages/prerender/src/runPrerender.tsx
  packages/web/global.d.ts
  packages/web/package.json
  packages/web/src/components/MetaTags.tsx
  packages/web/src/components/RedwoodProvider.tsx
  packages/web/src/flash/Flash.tsx
  packages/web/src/flash/FlashContext.tsx
  packages/web/src/flash/README.md
  packages/web/src/flash/index.ts
  packages/web/src/index.ts
  yarn.lock
Labels: topic/prerender, topic/web

#2967 When scaffolding, generate Typescript layouts, pages, and cells
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/scaffold.js
  packages/cli/src/commands/generate/scaffold/templates/components/EditNameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Name.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NameForm.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Names.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NamesCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NewName.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/layouts/NamesLayout.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/pages/EditNamePage.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/pages/NamePage.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/pages/NamesPage.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/pages/NewNamePage.tsx.template
Labels: topic/generators-&-scaffolds, topic/typescript

#3005 GraphQL improvements for TSDoc and Playground/Schema Introspection using Envelop
  packages/api/src/functions/graphql.ts
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.ts
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step0_2_GraphQL.js
  tasks/e2e/cypress/integration/05-tutorial-envelop/codemods/Step0_2_GraphQL.js
  yarn.lock
Labels: topic/graphql

#3014 Update Route param parser TS
  packages/internal/src/generate/templates/web-routerRoutes.d.ts.template
Labels: topic/router

#2983 Used RHF get to retrieve errors
  packages/forms/src/__tests__/form.test.tsx
  packages/forms/src/index.tsx
Labels: topic/forms

#2810 Check node yarn compatibility before starting crwa
  packages/create-redwood-app/src/create-redwood-app.js
Labels: topic/create-redwood-app, v1/priority

#2701 dbAuth: Adds a totally self-contained database-based authentication option
  packages/api/package.json
  packages/api/src/auth/decoders/dbAuth.ts
  packages/api/src/auth/decoders/index.ts
  packages/api/src/functions/__tests__/authDecoder.test.ts
  packages/api/src/functions/__tests__/graphql.test.ts
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/api/src/functions/dbAuth/__tests__/shared.test.js
  packages/api/src/functions/dbAuth/errors.ts
  packages/api/src/functions/dbAuth/shared.ts
  packages/api/src/index.ts
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/authClients/dbAuth.ts
  packages/auth/src/authClients/index.ts
  packages/cli/package.json
  packages/cli/src/commands/generate/dbAuth/__tests__/dbAuth.test.js
  packages/cli/src/commands/generate/dbAuth/dbAuth.js
  packages/cli/src/commands/generate/dbAuth/templates/login.tsx.template
  packages/cli/src/commands/generate/dbAuth/templates/signup.tsx.template
  packages/cli/src/commands/generate/helpers.js
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/scaffold.js
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.css.template
  packages/cli/src/commands/generate/secret/__tests__/secret.test.js
  packages/cli/src/commands/generate/secret/secret.js
  packages/cli/src/commands/generate/service/service.js
  packages/cli/src/commands/setup/auth/auth.js
  packages/cli/src/commands/setup/auth/providers/dbAuth.js
  packages/cli/src/commands/setup/auth/templates/dbAuth.auth.js.template
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.js.template
  packages/cli/src/lib/index.js
  yarn.lock
Labels: topic/auth, v1/priority

#2963 Introduce a new approach to syncing Redwood framework with Redwood project
  packages/cli/package.json
  packages/cli/src/rwfw.js
  tasks/framework-tools/package.json
  tasks/framework-tools/src/frameworkDepsToProject.mjs
  tasks/framework-tools/src/frameworkFilesToProject.mjs
  tasks/framework-tools/src/frameworkSyncToProject.mjs
  tasks/framework-tools/src/lib/framework.mjs
  tasks/framework-tools/src/lib/project.mjs
  tasks/framework-tools/yarn.lock
  tasks/run-e2e
  yarn.lock
Labels: topic/ops-&-contributing-dx

#2884 Webpack v5; Use PostCSS v8 with Tailwind Setup
  packages/cli/src/commands/dev.js
  packages/cli/src/commands/setup/tailwind/tailwind.js
  packages/core/config/webpack.common.js
  packages/core/config/webpack.development.js
  packages/core/package.json
  packages/testing/config/storybook/main.js
  packages/testing/package.json
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step7_3_Css.js
  tasks/e2e/cypress/integration/03-storybook/storybook.spec.js
  yarn.lock
Labels: next-release/breaking

#3029 Docs Update - Eslint Config README w/example override
  packages/eslint-config/README.md
Labels: topic/config, topic/docs

#2591 Router.tsx: Test Route matching in Sets
  packages/router/src/__tests__/route-announcer.test.tsx
  packages/router/src/__tests__/router.test.tsx
Labels: bug/confirmed, topic/router, v1/priority

#3023 Windows: fix build:link build:test-project
  package.json
Labels: topic/ops-&-contributing-dx

#3059 Fixed the ESLint error for generated template
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.css.template
  packages/cli/src/commands/generate/scaffold/templates/components/Name.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Names.tsx.template
Labels: topic/generators-&-scaffolds

#3054 GraphQL Handler improvements for api imports and log options
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.test.ts
  packages/graphql-server/src/functions/graphql.ts
  packages/graphql-server/src/index.ts
  yarn.lock
Labels: topic/graphql

#3070 fix: Fixes yarn build:test-project failing due to jscodeshift
  tasks/test-project/package.json
Labels: topic/ops-&-contributing-dx

#3039 upgrade Prisma v2.27.0
  packages/api/package.json
  packages/cli/package.json
  packages/graphql-server/package.json
  packages/structure/package.json
  yarn.lock
Labels: dependencies

#3006 Adds a hasRole() and isAuthenticated() to determine the role membership or if the request is authenticated
  packages/api/src/auth/index.ts
  packages/api/src/auth/parseJWT.test.ts
  packages/api/src/auth/parseJWT.ts
  packages/api/src/index.ts
  packages/cli/src/commands/setup/auth/templates/auth.js.template
  packages/cli/src/commands/setup/auth/templates/azureActiveDirectory.auth.js.template
  packages/cli/src/commands/setup/auth/templates/dbAuth.auth.js.template
  packages/cli/src/commands/setup/auth/templates/ethereum.auth.js.template
  packages/cli/src/commands/setup/auth/templates/firebase.auth.js.template
  packages/create-redwood-app/template/api/src/lib/auth.ts
Labels: topic/auth

#3085 Add help command to rwfw
  packages/cli/src/rwfw.js
Labels: topic/ops-&-contributing-dx

#3074 [yarn rwfw]: clean before building, don't exit on errors
  tasks/framework-tools/package.json
  tasks/framework-tools/src/frameworkSyncToProject.mjs
  tasks/framework-tools/src/lib/framework.mjs
  tasks/framework-tools/yarn.lock
Labels: topic/ops-&-contributing-dx

#3083 Update Failure styles for scaffolded Cells
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.css.template
  packages/cli/src/commands/generate/scaffold/templates/components/EditNameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NamesCell.tsx.template
  tasks/e2e/cypress/integration/01-tutorial/tutorial.spec.js
  tasks/e2e/cypress/integration/05-tutorial-envelop/tutorial-helix-envelop.spec.js
Labels: topic/generators-&-scaffolds

#2800 Restart development servers when `redwood.toml` is modified
  packages/cli/src/commands/dev.js
  packages/core/package.json
  yarn.lock
Labels: topic/config

#3079 Rework Logger for Redaction lists, Prisma client version, and Prisma log events
  package.json
  packages/api/src/logger/index.ts
  packages/api/src/logger/logger.test.ts
Labels: topic/logging, topic/prisma

#2824 Firebase auth options
  packages/auth/src/authClients/firebase.ts
Labels: topic/auth

#3087 Upgrade setup tailwind
  packages/cli/package.json
  packages/cli/src/commands/setup/tailwind/tailwind.js
  packages/cli/src/commands/setup/tailwind/templates/postcss.config.js.template
  yarn.lock
Labels: topic/cli

#3080 Add Clerk as an auth provider
  packages/api/package.json
  packages/api/src/auth/decoders/clerk.ts
  packages/api/src/auth/decoders/index.ts
  packages/api/src/functions/__tests__/authDecoder.test.ts
  packages/auth/package.json
  packages/auth/src/authClients/clerk.ts
  packages/auth/src/authClients/index.ts
  packages/cli/src/commands/setup/auth/providers/clerk.js
  yarn.lock
Labels: topic/auth

#3106 Upgrades graphql-server envelop and plugins to 1.0.0
  packages/graphql-server/package.json
  yarn.lock
Labels: topic/graphql

#3107 Fixes a couple of typos, return `true` if no roles were provided to requireAuth()
  packages/cli/src/commands/setup/auth/templates/auth.js.template
  packages/cli/src/commands/setup/auth/templates/azureActiveDirectory.auth.js.template
  packages/cli/src/commands/setup/auth/templates/dbAuth.auth.js.template
Labels: topic/auth

#3127 Resolves Typescript errors in useRedwoodLogger plugin in GraphQL-server
  .gitignore
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.ts
  yarn.lock
Labels: topic/graphql, topic/typescript

#3129 Typing services on makeMergedSchema
  packages/api/src/makeMergedSchema/makeMergedSchema.ts
  packages/graphql-server/src/makeMergedSchema/makeMergedSchema.ts
Labels: topic/graphql, topic/typescript

#3099 Make the test project generator more composable
  .vscode/settings.json
  packages/cli/src/commands/dev.js
  packages/create-redwood-app/src/create-redwood-app.js
  tasks/test-project/codemods/blogPost.js
  tasks/test-project/frameworkLinking.js
  tasks/test-project/package.json
  tasks/test-project/tasks.js
  tasks/test-project/test-project
  tasks/test-project/util.js
Labels: topic/ops-&-contributing-dx

#3134 Supabase to support Twitch auth
  packages/auth/package.json
  packages/auth/src/authClients/supabase.ts
  tasks/framework-tools/yarn.lock
  yarn.lock
Labels: topic/auth

#3111 Adds loginHandler to dbAuth for custom login checks
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/api/src/functions/dbAuth/errors.ts
  packages/cli/src/commands/generate/dbAuth/templates/login.tsx.template
  packages/cli/src/commands/generate/dbAuth/templates/signup.tsx.template
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.js.template
Labels: next-release/breaking, topic/auth
