Repository redwoodjs/graphql, pull requests merged in 2021-01, with the labels that each got.

#1509 Fixes Storybook/Webpack Out of Memory Error by using relative path to config stories location
  packages/core/config/storybook/main.js
Labels: topic: storybook

#1465 Test Scenarios
  packages/cli/src/commands/destroy/service/__tests__/fixtures/post.json
  packages/cli/src/commands/destroy/service/__tests__/service.test.js
  packages/cli/src/commands/destroy/service/service.js
  packages/cli/src/commands/generate/cell/__tests__/fixtures/camelCaseWordCell.test.js
  packages/cli/src/commands/generate/cell/__tests__/fixtures/kebabCaseWordCell.test.js
  packages/cli/src/commands/generate/cell/__tests__/fixtures/multiWordCell.test.js
  packages/cli/src/commands/generate/cell/__tests__/fixtures/singleWordCell.test.js
  packages/cli/src/commands/generate/cell/__tests__/fixtures/snakeCaseWordCell.test.js
  packages/cli/src/commands/generate/cell/templates/test.js.template
  packages/cli/src/commands/generate/scaffold/__tests__/scaffold.test.js
  packages/cli/src/commands/generate/scaffold/__tests__/scaffoldPath.test.js
  packages/cli/src/commands/generate/scaffold/__tests__/scaffoldPathMultiword.test.js
  packages/cli/src/commands/generate/scaffold/__tests__/scaffoldPathNested.test.js
  packages/cli/src/commands/generate/sdl/__tests__/sdl.test.js
  packages/cli/src/commands/generate/service/__tests__/fixtures/multiWord.test.js
  packages/cli/src/commands/generate/service/__tests__/fixtures/multiWord.test.ts
  packages/cli/src/commands/generate/service/__tests__/fixtures/schema.prisma
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord.scenario.js
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord.scenario.ts
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord.test.js
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord.test.ts
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord_crud.test.js
  packages/cli/src/commands/generate/service/__tests__/fixtures/singleWord_crud.test.ts
  packages/cli/src/commands/generate/service/__tests__/scenario.test.js
  packages/cli/src/commands/generate/service/__tests__/service.test.js
  packages/cli/src/commands/generate/service/service.js
  packages/cli/src/commands/generate/service/templates/scenarios.ts.template
  packages/cli/src/commands/generate/service/templates/service.ts.template
  packages/cli/src/commands/generate/service/templates/test.ts.template
  packages/core/config/babel-preset.js
  packages/core/config/webpack.common.js
  packages/core/src/configs/browser/jest.setup.js
  packages/core/src/configs/node/jest.setup.js
  packages/core/src/storybook/StorybookProvider.tsx
  packages/eslint-config/index.js
  packages/testing/package.json
  packages/testing/src/MockProviders.tsx
  packages/testing/src/global.ts
  packages/testing/src/index.ts
  packages/testing/src/mockRequests.ts
  packages/testing/src/scenario.ts
Labels: topic: testing

#1609 Configure ApolloProvider to always use fresh tokens
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.test.tsx
  packages/web/src/components/RedwoodApolloProvider.tsx
Labels: breaking change, topic: auth

#1624 Adds mockCurrentUser() to API-side Jest
  packages/core/src/configs/node/jest.setup.js
Labels: next release

#1619 Resolve promises in the console
  packages/cli/src/commands/console.js
Labels: next release

#1654 Auth: Netlify decoder: specifically check for dev and test
  packages/api/src/auth/decoders/netlify.ts
Labels: next release

#1655 GQL Playground: Only run in dev mode
  packages/api/src/functions/graphql.ts
Labels: next release

#1656 [core] Small Storybook webpack fix
  packages/core/config/storybook/main.js
Labels: next release

#1594 Add Auth Provider - Ethereum
  packages/api/src/auth/decoders/ethereum.ts
  packages/api/src/auth/decoders/index.ts
  packages/auth/README.md
  packages/auth/src/authClients/ethereum.ts
  packages/auth/src/authClients/index.ts
  packages/cli/src/commands/generate/auth/auth.js
  packages/cli/src/commands/generate/auth/providers/ethereum.js
  packages/cli/src/commands/generate/auth/templates/ethereum.auth.js.template
Labels: topic: auth

#1648 Tailwind Setup: Use fully specified paths
  packages/cli/src/commands/setup/tailwind/tailwind.js
Labels: next release

#1651 Make auto-import pages support .tsx files.
  __fixtures__/example-todo-main/web/src/pages/TypeScriptPage/TypeScriptPage.tsx
  __fixtures__/example-todo-main/web/src/pages/admin/EditUserPage/EditUserPage.jsx
  packages/internal/package.json
  packages/internal/src/__tests__/fixtures/web/src/pages/Admin/MargleTheWorld/MargleTheWorld.js
  packages/internal/src/__tests__/fixtures/web/src/pages/HelloWorld/HelloWorld.js
  packages/internal/src/__tests__/paths.test.ts
  packages/internal/src/paths.ts
  packages/structure/src/model/RWPage.ts
  packages/structure/src/model/__tests__/model.test.ts
  yarn.lock
Labels: next release, next release test

#1637 Vendor create app template
  .eslintignore
  .eslintrc
  package.json
  packages/auth/src/authClients/firebase.ts
  packages/cli/src/commands/console.js
  packages/create-redwood-app/package.json
  packages/create-redwood-app/src/create-redwood-app.js
  packages/create-redwood-app/template/.editorconfig
  packages/create-redwood-app/template/.env
  packages/create-redwood-app/template/.env.defaults
  packages/create-redwood-app/template/.env.example
  packages/create-redwood-app/template/.gitignore
  packages/create-redwood-app/template/.vscode/extensions.json
  packages/create-redwood-app/template/.vscode/launch.json
  packages/create-redwood-app/template/.vscode/settings.json
  packages/create-redwood-app/template/LICENSE
  packages/create-redwood-app/template/README.md
  packages/create-redwood-app/template/api/.babelrc.js
  packages/create-redwood-app/template/api/db/schema.prisma
  packages/create-redwood-app/template/api/db/seeds.js
  packages/create-redwood-app/template/api/jest.config.js
  packages/create-redwood-app/template/api/jsconfig.json
  packages/create-redwood-app/template/api/package.json
  packages/create-redwood-app/template/api/src/functions/graphql.js
  packages/create-redwood-app/template/api/src/graphql/.keep
  packages/create-redwood-app/template/api/src/lib/db.js
  packages/create-redwood-app/template/api/src/services/.keep
  packages/create-redwood-app/template/babel.config.js
  packages/create-redwood-app/template/graphql.config.js
  packages/create-redwood-app/template/package.json
  packages/create-redwood-app/template/prettier.config.js
  packages/create-redwood-app/template/redwood.toml
  packages/create-redwood-app/template/web/.babelrc.js
  packages/create-redwood-app/template/web/jest.config.js
  packages/create-redwood-app/template/web/jsconfig.json
  packages/create-redwood-app/template/web/package.json
  packages/create-redwood-app/template/web/public/README.md
  packages/create-redwood-app/template/web/public/favicon.png
  packages/create-redwood-app/template/web/public/robots.txt
  packages/create-redwood-app/template/web/src/Routes.js
  packages/create-redwood-app/template/web/src/components/.keep
  packages/create-redwood-app/template/web/src/index.css
  packages/create-redwood-app/template/web/src/index.html
  packages/create-redwood-app/template/web/src/index.js
  packages/create-redwood-app/template/web/src/layouts/.keep
  packages/create-redwood-app/template/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/create-redwood-app/template/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/create-redwood-app/template/yarn.lock
  packages/structure/package.json
  packages/structure/src/x/vscode.ts
  packages/testing/src/mockRequests.ts
Labels: next release, next release test

#1627 Fix/use fresh tokens
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.test.tsx
  packages/web/src/components/RedwoodApolloProvider.tsx
Labels: breaking change, next release, topic: auth

#1322 Replaced merge-graphql-schemas with graphql-tools
  packages/api/package.json
  packages/api/src/makeMergedSchema/makeMergedSchema.ts
  yarn.lock
Labels: hacktoberfest-accepted, next release, next release test

#1669 Support Supabase OAuth and Magic Link auth
  packages/auth/src/authClients/netlify.ts
  packages/auth/src/authClients/supabase.ts
  packages/cli/src/commands/generate/auth/providers/supabase.js
Labels: next release, next release docs, topic: auth

#1662 Task script to update all packages
  packages/cli/src/redwood-tools.js
  packages/create-redwood-app/package.json
  packages/create-redwood-app/template/api/package.json
  packages/create-redwood-app/template/package.json
  packages/create-redwood-app/template/web/package.json
  packages/create-redwood-app/template/yarn.lock
  packages/internal/package.json
  tasks/update-package-versions
Labels: next release docs, next release test

#1680 redwood-tools: ignore crwa template
  packages/cli/src/redwood-tools.js
Labels: next release

#1675 Azure Active Directory refresh access token
  packages/auth/src/authClients/azureActiveDirectory.ts
Labels: topic: auth
