Repository redwoodjs/graphql, pull requests merged in 2021-04, with the labels that each got.

#1691 Add root-path to api-server
  packages/api-server/src/http.ts
  packages/api-server/src/index.ts
Labels: next release

#2125 Set: Forward props to wrapper components
  packages/router/src/Set.tsx
  packages/router/src/__tests__/set.test.tsx
Labels: topic: router

#2174 Router tests: Don't use window.__REDWOOD__USE_AUTH
  packages/router/src/__tests__/router.test.tsx
Labels: next release, topic: router

#2176 CLI Storybook command: change default output directory
  packages/cli/src/commands/storybook.js
Labels: breaking change

#2177 Improved types | Handling for Boolean and Float route params
  packages/core/src/babelPlugins/babel-plugin-redwood-routes-auto-loader.ts
  packages/router/src/__tests__/util.test.ts
  packages/router/src/index.ts
  packages/router/src/util.ts
Labels: update-docs

#2134 Firebase - fix for 8.3.x.
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/cli/src/commands/setup/auth/providers/firebase.js
Labels: topic: auth

#2207 Implement Supabase OAuth Provider Scopes and Redirects
  packages/auth/package.json
  packages/auth/src/authClients/supabase.ts
  yarn.lock
Labels: topic: auth

#2166 Correctly type `GraphQLHookOptions`
  packages/web/src/components/GraphQLHooksProvider.tsx
Labels: next release

#2211 Add generator message with info on how to secure a function
  packages/cli/README.md
  packages/cli/src/commands/generate/function/__tests__/fixtures/jsFunc.js
  packages/cli/src/commands/generate/function/__tests__/fixtures/multiWord.js
  packages/cli/src/commands/generate/function/__tests__/fixtures/singleWord.js
  packages/cli/src/commands/generate/function/__tests__/fixtures/tsFunc.ts
  packages/cli/src/commands/generate/function/function.js
  packages/cli/src/commands/generate/function/templates/function.ts.template
Labels: topic: cli, topic: generators

#2216 Fix types for CurrentUser
  packages/api/src/globalContext.ts
  packages/auth/src/index.ts
  packages/cli/src/commands/dev.js
  packages/cli/src/lib/runPreBuildTasks.js
  packages/cli/src/lib/templates/currentUser.d.ts.template
  packages/create-redwood-app/template/api/tsconfig.json
  packages/create-redwood-app/template/web/tsconfig.json
  packages/structure/src/model/RWProject.ts
Labels: topic: auth, update-docs

#2217 Adds `yarn rw serve api`
  packages/api-server/package.json
  packages/api-server/src/handler.ts
  packages/api-server/src/http.ts
  packages/api-server/src/index.ts
  packages/cli/src/commands/__tests__/serve.test.js
  packages/cli/src/commands/serve.js
Labels: topic: cli, update-docs

#2256 logger.ts: Fix comment spelling
  packages/create-redwood-app/template/api/src/lib/logger.ts
Labels: next release, topic:logging

#2235 Fix: webpack optimizations for JS
  packages/core/config/webpack.common.js
  packages/core/package.json
  yarn.lock
Labels: topic: config

#2262 Update named param types in router readme
  packages/router/README.md
Labels: topic: docs

#2269 Small improvements to rwt link
  packages/cli/src/redwood-tools.js
  tasks/build-link
Labels: topic: contributor-dx

#2261 Further improvements to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: topic: docs

#2273 upgrade prisma v2.21.0
  packages/api/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/structure/package.json
  yarn.lock
Labels: breaking change

#2208 Static typing for cells
  packages/core/src/babelPlugins/__tests__/__fixtures__/cell/cell-with-commented-exports/output.js
  packages/core/src/babelPlugins/__tests__/__fixtures__/cell/cell-with-required-exports/output.js
  packages/core/src/babelPlugins/babel-plugin-redwood-cell.ts
  packages/web/src/components/createCell.tsx
  packages/web/src/index.ts
Labels: update-docs

#2277 fix(auth): Implement automatic token refresh on supported providers
  packages/api/src/auth/decoders/auth0.ts
  packages/api/src/auth/decoders/netlify.ts
  packages/auth/package.json
  packages/auth/src/authClients/firebase.ts
  packages/auth/src/authClients/netlify.ts
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/cli/src/commands/setup/auth/providers/auth0.js
  yarn.lock
Labels: topic: auth

#2309 Restore @storybook/addon-a11y
  packages/core/config/storybook/main.js
  packages/core/package.json
  yarn.lock
Labels: topic: accessibility, topic: config, topic: storybook

#2083 teardown should attempt to delete dbName table
  packages/core/src/configs/node/jest.setup.js
Labels: topic: testing

#2318 Disable role linting in Routes
  packages/eslint-config/index.js
Labels: topic: accessibility, topic: config, topic: router

#2099 Adding Setup Deploy Render Command
  packages/cli/src/commands/deploy/render.js
  packages/cli/src/commands/setup/deploy/deploy.js
  packages/cli/src/commands/setup/deploy/providers/aws-serverless.js
  packages/cli/src/commands/setup/deploy/providers/render.js
Labels: update-docs

#2214 Add import type to configuration files
  babel.config.js
  packages/cli/src/commands/setup/webpack/templates/webpack.config.js.template
  packages/core/config/babel-preset.js
  packages/core/config/jest.config.js
  packages/core/config/storybook/main.js
  packages/core/config/storybook/preview.js
  packages/core/config/webpack.common.js
  packages/core/config/webpack.development.js
  packages/core/config/webpack.production.js
  packages/core/config/webpack.stats.js
  packages/core/jest.config.js
  packages/create-redwood-app/jest.config.js
  packages/create-redwood-app/template/api/.babelrc.js
  packages/create-redwood-app/template/babel.config.js
  packages/create-redwood-app/template/prettier.config.js
  packages/create-redwood-app/template/web/.babelrc.js
  packages/forms/jest.config.js
  packages/prerender/jest.config.js
  packages/router/jest.config.js
  prettier.config.js
Labels: next release

#2278 create-redwood-app messages: moved app start commands to end ... closes #2128
  packages/create-redwood-app/src/create-redwood-app.js
Labels: next release

#2321 Handle focus on route change
  packages/router/src/__tests__/route-focus.test.tsx
  packages/router/src/index.ts
  packages/router/src/page-loader.tsx
  packages/router/src/route-focus.tsx
  packages/router/src/util.ts
Labels: topic: accessibility, topic: router

#2234 Serve web/dist with `yarn rw serve web`
  packages/api-server/package.json
  packages/api-server/src/app.ts
  packages/api-server/src/handler.ts
  packages/api-server/src/index.ts
  packages/api-server/src/middleware/withApiProxy.ts
  packages/api-server/src/middleware/withFunctions.ts
  packages/api-server/src/middleware/withWebServer.ts
  packages/api-server/src/server.ts
  packages/cli/src/commands/__tests__/serve.test.js
  packages/cli/src/commands/deploy/__tests__/api.test.js
  packages/cli/src/commands/serve.js
  yarn.lock
Labels: update-docs

#1843 Verify signatures for secure webhooks and functions
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/src/auth/verifiers/__tests__/jwtVerifier.test.ts
  packages/api/src/auth/verifiers/__tests__/secretKeyVerifier.test.ts
  packages/api/src/auth/verifiers/__tests__/sha1Verifier.test.ts
  packages/api/src/auth/verifiers/__tests__/sha256Verifier.test.ts
  packages/api/src/auth/verifiers/__tests__/skipVerifier.test.ts
  packages/api/src/auth/verifiers/__tests__/timestampSchemeVerifier.test.ts
  packages/api/src/auth/verifiers/common.ts
  packages/api/src/auth/verifiers/index.ts
  packages/api/src/auth/verifiers/jwtVerifier.ts
  packages/api/src/auth/verifiers/secretKeyVerifier.ts
  packages/api/src/auth/verifiers/sha1Verifier.ts
  packages/api/src/auth/verifiers/sha256Verifier.ts
  packages/api/src/auth/verifiers/skipVerifier.ts
  packages/api/src/auth/verifiers/timestampSchemeVerifier.ts
  packages/api/src/functions/graphql.ts
  packages/api/src/webhooks/index.ts
  packages/api/src/webhooks/webhooks.test.ts
  packages/api/tsconfig.json
  packages/api/webhooks/index.js
  packages/api/webhooks/package.json
  packages/cli/src/redwood-tools.js
  packages/create-redwood-app/template/.env.defaults
Labels: topic: api

#2354 fix(eslint): Adds process and require to eslint config web
  packages/eslint-config/index.js
Labels: topic: config

#2364 Private as alias for Set private
  packages/router/src/Set.tsx
  packages/router/src/__tests__/router.test.tsx
  packages/router/src/__tests__/set.test.tsx
  packages/router/src/index.ts
  packages/router/src/private-context.tsx
  packages/router/src/router.tsx
Labels: topic: router
