Repository redwoodjs/graphql, pull requests merged in 2021-05, with the labels that each got.

#2435 chore(readme): Added logging, webhook, prerender, deploy features
  README.md
Labels: topic: docs

#2413 fix(generator): Page generators accept default options too
  packages/cli/README.md
  packages/cli/src/commands/generate/helpers.js
  packages/cli/src/commands/generate/layout/layout.js
  packages/cli/src/commands/generate/page/page.js
  packages/cli/src/commands/generate/scaffold/scaffold.js
  packages/cli/src/commands/generate/sdl/sdl.js
Labels: topic: generators

#2350 feat(auth): Decode Nhost JWT and add in needed claims and roles for API side
  packages/api/src/auth/decoders/index.ts
  packages/api/src/auth/decoders/nhost.ts
  packages/cli/src/commands/setup/auth/providers/nhost.js
Labels: topic: auth

#2496 Ignore dev.db-journal
  packages/create-redwood-app/template/.gitignore
Labels: update-docs

#2375 upgrade React (et al.) to v17.0.2
  package.json
  packages/auth/package.json
  packages/core/package.json
  packages/create-redwood-app/template/package.json
  packages/create-redwood-app/template/web/package.json
  packages/router/package.json
  packages/testing/package.json
  packages/web/package.json
  yarn.lock
Labels: breaking change

#2433 chore(auth): Tidies auth template by removing verbose comments
  packages/auth/README.md
  packages/cli/src/commands/setup/auth/templates/auth.js.template
Labels: topic: auth

#2432 chore(seed): Rework and Cleanup Seed template for Typescript and multiple inserts
  packages/create-redwood-app/template/api/db/seed.js
  packages/eslint-config/index.js
Labels: topic: config, topic: prisma

#2491 Silences log output when in Test environment and with Webhook verifiers
  packages/api/src/auth/verifiers/__tests__/secretKeyVerifier.test.ts
  packages/api/src/auth/verifiers/__tests__/skipVerifier.test.ts
  packages/api/src/auth/verifiers/jwtVerifier.ts
  packages/api/src/auth/verifiers/secretKeyVerifier.ts
  packages/api/src/auth/verifiers/sha1Verifier.ts
  packages/api/src/auth/verifiers/sha256Verifier.ts
  packages/api/src/auth/verifiers/skipVerifier.ts
  packages/api/src/logger/index.ts
  packages/api/src/logger/logger.test.ts
  packages/api/src/webhooks/webhooks.test.ts
Labels: next release, topic: logging, topic: webhooks

#2512 Stop msw from prompting for the file
  package.json
  packages/auth/src/__tests__/AuthProvider.test.tsx
  packages/cli/src/commands/storybook.js
  yarn.lock
Labels: topic: storybook

#2505 Improve page, component and layout generators with idiomatic TypeScript support
  packages/cli/src/commands/generate/__tests__/helpers.test.js
  packages/cli/src/commands/generate/component/__tests__/__snapshots__/component.test.ts.snap
  packages/cli/src/commands/generate/component/__tests__/component.test.ts
  packages/cli/src/commands/generate/component/templates/component.tsx.template
  packages/cli/src/commands/generate/layout/__tests__/__snapshots__/layout.test.ts.snap
  packages/cli/src/commands/generate/layout/__tests__/layout.test.ts
  packages/cli/src/commands/generate/layout/templates/layout.tsx.a11yTemplate
  packages/cli/src/commands/generate/layout/templates/layout.tsx.template
  packages/cli/src/commands/generate/page/__tests__/__snapshots__/page.test.js.snap
  packages/cli/src/commands/generate/page/__tests__/page.test.js
  packages/cli/src/commands/generate/page/page.js
  packages/cli/src/commands/generate/page/templates/page.tsx.template
  packages/cli/src/commands/generate/page/templates/stories.tsx.template
  packages/cli/src/commands/generate/page/templates/test.tsx.template
Labels: next release

#2504 Prevent re-initialization of a Firebase app that is already initialized
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/cli/src/commands/setup/auth/providers/firebase.js
Labels: topic: auth, update-docs

#2503 Bug fix: Fixed Firebase promises so that errors/exceptions can be caught
  packages/auth/src/authClients/firebase.ts
Labels: next release

#2457 Add JSON headers to Function generator template
  packages/cli/src/commands/generate/function/__tests__/__snapshots__/function.test.ts.snap
  packages/cli/src/commands/generate/function/templates/function.ts.template
Labels: topic: generators

#1941 Rename default datasource
  packages/cli/src/commands/generate/scaffold/__tests__/fixtures/schema.prisma
  packages/cli/src/commands/generate/sdl/__tests__/fixtures/schema.prisma
  packages/cli/src/commands/generate/service/__tests__/fixtures/schema.prisma
  packages/cli/src/lib/__tests__/fixtures/schema.prisma
  packages/create-redwood-app/template/api/db/schema.prisma
  tasks/e2e/cypress/integration/01-tutorial/codemods/Step4_1_DbSchema.js
Labels: breaking change, topic: docs, topic: prisma, update-docs

#2542 Prerender all routes nested in Set with prerender prop
  __fixtures__/example-todo-main/web/src/Routes.js
  __fixtures__/example-todo-main/web/src/layouts/SetLayout/SetLayout.js
  __fixtures__/example-todo-main/web/src/pages/BarPage/BarPage.tsx
  __fixtures__/example-todo-main/web/src/pages/FooPage/FooPage.tsx
  packages/internal/src/__tests__/paths.test.ts
  packages/router/src/Set.tsx
  packages/structure/src/model/RWRouter.ts
  packages/structure/src/model/__tests__/model.test.ts
Labels: next release, topic: router

#2548 `rw exec` to run arbitary scripts in Redwood context
  packages/cli/src/commands/exec.js
  packages/cli/src/commands/generate/script/__tests__/__snapshots__/script.test.ts.snap
  packages/cli/src/commands/generate/script/__tests__/script.test.ts
  packages/cli/src/commands/generate/script/script.js
  packages/cli/src/commands/generate/script/templates/script.js.template
  packages/cli/src/lib/test.js
  packages/core/config/babel-preset.js
  packages/internal/src/paths.ts
Labels: topic: cli

#2555 Cache magic.link's token
  packages/auth/src/authClients/magicLink.ts
Labels: topic: auth, v1-priority

#2563 Removes console warnings in webhook verifiers
  packages/api/src/auth/verifiers/secretKeyVerifier.ts
  packages/api/src/auth/verifiers/sha1Verifier.ts
  packages/api/src/auth/verifiers/sha256Verifier.ts
Labels: topic: logging, topic: webhooks

#2485 GraphQL Codegen for generating gql types
  packages/cli/package.json
  packages/cli/src/commands/dev.js
  packages/cli/src/commands/generate/cell/__tests__/__snapshots__/cell.test.js.snap
  packages/cli/src/commands/generate/cell/cell.js
  packages/cli/src/commands/generate/cell/templates/cell.js.template
  packages/cli/src/commands/generate/cell/templates/cell.tsx.template
  packages/cli/src/commands/generate/cell/templates/cellList.js.template
  packages/cli/src/commands/generate/cell/templates/cellList.tsx.template
  packages/cli/src/commands/generate/cell/templates/test.js.template
  packages/cli/src/commands/generate/helpers.js
  packages/cli/src/commands/generate/types/generate-current-user.js
  packages/cli/src/commands/generate/types/generate-gql-types.js
  packages/cli/src/commands/generate/types/templates/currentUser.d.ts.template
  packages/cli/src/commands/generate/types/types.js
  packages/create-redwood-app/template/api/tsconfig.json
  packages/create-redwood-app/template/web/tsconfig.json
  packages/web/package.json
  packages/web/src/apollo/index.tsx
  packages/web/src/apollo/typeOverride.ts
  packages/web/src/components/GraphQLHooksProvider.tsx
  packages/web/src/components/createCell.tsx
  packages/web/src/global.web-auto-imports.ts
  packages/web/src/index.ts
  yarn.lock
Labels: needs-docs, topic: graphql, topic: typescript, v1-priority

#2568 Add stories and tests to destroy command
  packages/cli/src/commands/destroy/cell/__tests__/cell.test.js
  packages/cli/src/commands/destroy/component/__tests__/component.test.js
  packages/cli/src/commands/destroy/helpers.js
  packages/cli/src/commands/destroy/layout/__tests__/layout.test.js
  packages/cli/src/commands/destroy/page/__tests__/page.test.js
  packages/cli/src/commands/destroy/page/page.js
Labels: bug/2-confirmed, topic: generators, v1-priority

#2552 [forms] Fix number validation msg
  packages/forms/src/index.tsx
Labels: topic: forms, v1-priority

#2616 Manage history state length exploding if clicking on a link with with the current route location
  packages/router/src/__tests__/history.test.tsx
  packages/router/src/history.tsx
Labels: bug/2-confirmed, topic: router, v1-priority

#2324 Add script to create a functional test project using the latest CRWA template
  .gitignore
  package.json
  tasks/test-project/codemods/aboutPage.js
  tasks/test-project/codemods/blogLayout.js
  tasks/test-project/codemods/blogPost.js
  tasks/test-project/codemods/blogPostCell.js
  tasks/test-project/codemods/blogPostPage.js
  tasks/test-project/codemods/blogPostsCell.js
  tasks/test-project/codemods/contactPage.js
  tasks/test-project/codemods/contactsSdl.js
  tasks/test-project/codemods/homePage.js
  tasks/test-project/codemods/models.js
  tasks/test-project/codemods/routes.js
  tasks/test-project/codemods/seed.js
  tasks/test-project/package.json
  tasks/test-project/test-project
  tasks/test-project/yarn.lock
Labels: topic: ops & contributing-dx, v1-priority

#2637 Pin package dependencies, remove CRWA template yarn.lock, set up Yarn offline cache
  babel.config.js
  package.json
  packages/api-server/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/auth/src/AuthProvider.tsx
  packages/cli/package.json
  packages/core/config/babel-preset.js
  packages/core/package.json
  packages/create-redwood-app/package.json
  packages/create-redwood-app/template/yarn.lock
  packages/dev-server/package.json
  packages/eslint-config/package.json
  packages/forms/package.json
  packages/internal/package.json
  packages/prerender/package.json
  packages/router/package.json
  packages/router/src/__tests__/router.test.tsx
  packages/structure/package.json
  packages/testing/package.json
  packages/testing/src/MockProviders.tsx
  packages/web/package.json
  packages/web/src/components/FetchConfigProvider.test.tsx
  packages/web/src/components/FetchConfigProvider.tsx
  yarn.lock
Labels: breaking change, v1/priority
