Repository redwoodjs/graphql, pull requests merged in 2021-08, with the labels that each got.

#3113 Prerender non-index pages
  packages/api-server/src/middleware/withWebServer.ts
  packages/internal/src/files.ts
  tasks/framework-tools/yarn.lock
Labels: bug/needs-info, topic/prerender

#2862 Purged cached Magic.link token at logout
  packages/auth/src/authClients/magicLink.ts
Labels: v1/priority

#3026 Better SEO by default on every pages
  packages/cli/src/commands/generate/__tests__/helpers.test.js
  packages/cli/src/commands/generate/page/__tests__/__snapshots__/page.test.js.snap
  packages/cli/src/commands/generate/page/templates/page.tsx.template
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/core/config/webpack.common.js
  packages/create-redwood-app/template/redwood.toml
  packages/create-redwood-app/template/web/src/App.tsx
  packages/create-redwood-app/template/web/src/index.html
  packages/internal/src/__tests__/config.test.ts
  packages/internal/src/config.ts
  packages/prerender/ambient.d.ts
  packages/prerender/src/internal.ts
  packages/testing/config/jest/web/index.js
  packages/web/global.d.ts
  packages/web/src/components/MetaTags.tsx
  packages/web/src/components/RedwoodProvider.tsx
  packages/web/src/config.ts
  packages/web/src/global.web-auto-imports.ts
Labels: topic/web

#3187 Use user babel.config.js on api side.
  __fixtures__/example-todo-main/api/.babelrc.js
  __fixtures__/example-todo-main/api/babel.config.js
  __fixtures__/example-todo-main/api/src/lib/dog.ts
  packages/create-redwood-app/template/api/.babelrc.js
  packages/internal/src/__tests__/build_api.test.ts
  packages/internal/src/build/api.ts
Labels: next-release/breaking, next-release/update-docs

#3204 Upgrades graphql-server to use latest envelop, graphql-tools, helix
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.ts
  yarn.lock
Labels: topic/graphql

#3177 Support Supabase phone and OTP authentication
  packages/auth/src/authClients/supabase.ts
Labels: topic/auth

#3219 Allow custom functions to serve binary data
  packages/api-server/src/requestHandlers/awsLambda.ts
Labels: next-release/update-docs, topic/fully-integrated-dx

#2683 Improved useMatch to support search parameters
  packages/router/src/__tests__/links.test.tsx
  packages/router/src/__tests__/util.test.ts
  packages/router/src/links.tsx
  packages/router/src/util.ts
Labels: topic/router, next-release/update-docs, v1/for-consideration

#2872 Fix: Custom auth provider Private route redirect
  packages/auth/src/AuthProvider.tsx
Labels: bug/confirmed, topic/auth

#3232 Configure dedicated log level for GraphQL logger
  packages/api/src/functions/graphql.ts
  packages/graphql-server/src/__tests__/makeServices.test.js
  packages/graphql-server/src/functions/graphql.test.ts
  packages/graphql-server/src/functions/graphql.ts
Labels: topic/logging, topic/graphql

#3259 Auth: Add login and signup types for Clerk auth
  packages/auth/src/authClients/clerk.ts
Labels: topic/auth

#3309 dbAuth Vercel Fix
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/auth/src/authClients/dbAuth.ts
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.js.template
Labels: bug/confirmed, topic/auth, next-release/breaking

#3285 Clean api using fs-extra's removeSync instead of rimraf
  packages/internal/src/build/api.ts
Labels: topic/windows
