Repository redwoodjs/graphql, pull requests merged in 2021-09, with the labels that each got.

#3236 Add router tests for special characters in path and query
  packages/router/src/__tests__/router.test.tsx
Labels: topic/router

#3253 dbAuth: Adds custom error messages to login and signup
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/api/src/functions/dbAuth/errors.ts
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.js.template
Labels: topic/auth, next-release/breaking

#2628 Handle matching trailing slash
  packages/router/src/__tests__/router.test.tsx
  packages/router/src/location.tsx
  packages/router/src/router.tsx
  packages/router/src/util.ts
Labels: topic/router, v1/priority

#3261 Support extra options in scenario to be passed to Prisma create
  packages/cli/src/commands/generate/service/__tests__/__snapshots__/service.test.js.snap
  packages/cli/src/commands/generate/service/__tests__/service.test.js
  packages/cli/src/commands/generate/service/service.js
  packages/cli/src/lib/test.js
  packages/testing/config/jest/api/jest.setup.js
  packages/testing/src/api/scenario.ts
Labels: next-release/breaking

#3293 Replace url and file loaders with asset modules
  packages/core/config/webpack.common.js
  packages/core/package.json
  yarn.lock
Labels: topic/config

#3373 Import from specific files, not internal
  packages/router/src/__tests__/route-announcer.test.tsx
  packages/router/src/__tests__/route-focus.test.tsx
  packages/router/src/index.ts
  packages/router/src/internal.ts
  packages/router/src/links.tsx
  packages/router/src/location.tsx
  packages/router/src/page-loader.tsx
  packages/router/src/params.tsx
  packages/router/src/router-context.tsx
  packages/router/src/router.tsx
Labels: topic/router

#3369 fix(testing): Fix mockCurrentUser on api side
  packages/core/config/babel-preset.js
  packages/core/config/webpack.common.js
  packages/create-redwood-app/template/api/tsconfig.json
  packages/create-redwood-app/template/web/tsconfig.json
  packages/graphql-server/src/functions/__tests__/graphql.test.ts
  packages/graphql-server/src/globalContext.ts
  packages/internal/src/generate/templates/api-test-globals.d.ts.template
  packages/internal/src/generate/templates/web-test-globals.d.ts.template
  packages/internal/src/generate/typeDefinitions.ts
  packages/testing/config/jest/api/RedwoodApiJestEnv.js
  packages/testing/config/jest/api/jest.setup.js
  packages/testing/src/web/StorybookProvider.tsx
  packages/testing/src/web/global.ts
Labels: bug/confirmed, next-release/update-docs

#3282 [contributing] Add watchNodeModules option to yarn rw dev
  packages/cli/src/commands/dev.js
  packages/core/config/webpack.development.js
Labels: topic/ops-&-contributing-dx

#3385 extend scenario with support for scenario.only
  packages/testing/config/jest/api/jest.setup.js
Labels: topic/testing, v1/for-consideration

#3386 Use data previously created in the scenario as input to other scenario data
  packages/testing/config/jest/api/jest.setup.js
Labels: topic/testing, v1/priority

#3379 Feat: Config for Prisma slow query threshold
  packages/api/src/logger/index.ts
  tasks/e2e/cypress/integration/04-logger/codemods/Step1_1_Setup_Logger.js
  tasks/e2e/cypress/integration/04-logger/codemods/Step1_2_Add_Logger_to_Posts.js
  tasks/e2e/cypress/integration/04-logger/codemods/Step2_1_Setup_Prisma_Logger.js
  tasks/e2e/cypress/integration/04-logger/logger.spec.js
Labels: topic/logging

#3371 dependency upgrades; graphql-tools bug fix, typescript 4.4, deprecated babel-eslint, clean up core/package.json
  package.json
  packages/api-server/package.json
  packages/api-server/src/requestHandlers/awsLambda.ts
  packages/api/package.json
  packages/api/src/auth/decoders/nhost.ts
  packages/api/src/auth/verifiers/jwtVerifier.ts
  packages/api/src/auth/verifiers/sha1Verifier.ts
  packages/api/src/auth/verifiers/sha256Verifier.ts
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/auth/package.json
  packages/auth/src/AuthProvider.tsx
  packages/cli/package.json
  packages/core/config/babel-preset.js
  packages/core/package.json
  packages/create-redwood-app/package.json
  packages/eslint-config/package.json
  packages/eslint-config/shared.js
  packages/forms/package.json
  packages/graphql-server/package.json
  packages/graphql-server/src/functions/graphql.ts
  packages/internal/package.json
  packages/router/package.json
  packages/structure/package.json
  packages/structure/src/index.ts
  packages/structure/src/interactive_cli/command_builder.ts
  packages/structure/src/model/RWCell.ts
  packages/structure/src/model/RWRoute.ts
  packages/structure/src/model/RWTOML.ts
  packages/testing/package.json
  packages/testing/src/web/mockRequests.ts
  packages/web/package.json
  tasks/framework-tools/package.json
  tasks/framework-tools/yarn.lock
  yarn.lock
Labels: dependencies, next-release/breaking

#2629 Remove showUI to reduce friction fixes issue:2361
  packages/auth/src/authClients/magicLink.ts
Labels: bug/needs-info, topic/auth, v1/for-consideration

#3347 Support email link authentication with Firebase
  packages/api/src/auth/decoders/__tests__/authDecoder.test.ts
  packages/api/src/auth/decoders/firebase.ts
  packages/api/src/auth/decoders/index.ts
  packages/auth/package.json
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/authClients/firebase.ts
  packages/auth/src/authClients/index.ts
  packages/cli/src/commands/setup/auth/__tests__/__snapshots__/addAuthConfigToApp.test.js.snap
  packages/cli/src/commands/setup/auth/providers/firebase.js
  packages/cli/src/commands/setup/auth/templates/firebase.auth.js.template
  yarn.lock
Labels: next-release/breaking, v1/priority

#3392 Only set dbAuth session cookie as `Secure` in non-development environment
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
Labels: bug/confirmed, topic/auth

#3384 Custom Generators
  packages/cli/src/commands/generate/__tests__/helpers.test.js
  packages/cli/src/commands/generate/dbAuth/dbAuth.js
  packages/cli/src/commands/generate/helpers.js
  packages/cli/src/commands/generate/scaffold/scaffold.js
  packages/cli/src/commands/generate/sdl/sdl.js
  packages/cli/src/commands/setup/generator/generator.js
  packages/cli/src/lib/__tests__/index.test.js
  packages/cli/src/lib/index.js
  packages/cli/src/lib/test.js
  packages/internal/src/paths.ts
  yarn.lock
Labels: topic/generators-&-scaffolds, v1/for-consideration

#3376 Use and extend react-hook-form's `valueAs` coercion
  packages/forms/src/__tests__/form.test.tsx
  packages/forms/src/coercion.tsx
  packages/forms/src/index.tsx
Labels: topic/forms

#3303 Fix: Run tests inside `/src` dir only
  packages/testing/config/jest/api/index.js
  packages/testing/config/jest/web/index.js
Labels: next-release/code-mod

#3408 Updates auth related imports for graphql-server
  packages/api/README.md
  packages/cli/src/commands/setup/auth/templates/auth.js.template
  packages/cli/src/commands/setup/auth/templates/azureActiveDirectory.auth.js.template
  packages/cli/src/commands/setup/auth/templates/ethereum.auth.js.template
Labels: topic/auth

#3409 Better handle and log authentication and context-related exceptions within the GraphQL lifecycle
  packages/graphql-server/src/plugins/__tests__/useRedwoodAuthContext.test.ts
  packages/graphql-server/src/plugins/useRedwoodAuthContext.ts
  packages/graphql-server/src/plugins/useRedwoodLogger.ts
Labels: topic/auth

#3405 Replace noop decoders with provider specific ones
  packages/api/src/auth/decoders/custom.ts
  packages/api/src/auth/decoders/firebase.ts
  packages/api/src/auth/decoders/index.ts
  packages/api/src/auth/decoders/magicLink.ts
Labels: topic/auth

#3414 Rework decoders to better handle custom provider
  packages/api/src/auth/decoders/__tests__/authDecoder.test.ts
  packages/api/src/auth/decoders/auth0.test.ts
  packages/api/src/auth/decoders/custom.ts
  packages/api/src/auth/decoders/index.ts
  packages/api/src/auth/decoders/magicLink.ts
  packages/cli/src/commands/setup/auth/templates/auth.js.template
Labels: topic/auth

#3431 Fixes Type error with requireAuth roles in lib/auth template
  packages/cli/src/commands/setup/auth/templates/auth.js.template
Labels: topic/auth

#3435 Adds descriptions to @requireAuth @skipAuth directives and its generator templates
  packages/cli/src/commands/generate/directive/__tests__/__snapshots__/directive.test.ts.snap
  packages/cli/src/commands/generate/directive/templates/transformer.directive.ts.template
  packages/cli/src/commands/generate/directive/templates/validator.directive.ts.template
  packages/create-redwood-app/template/api/src/directives/requireAuth/requireAuth.ts
  packages/create-redwood-app/template/api/src/directives/skipAuth/skipAuth.ts
Labels: topic/graphql

#3183 Re-vamp Redwood splash-page
  packages/router/src/router.tsx
  packages/router/src/splash-page.tsx
  tasks/e2e/cypress/integration/01-tutorial/tutorial.spec.js
Labels: topic/router, topic/create-redwood-app
