Repository redwoodjs/graphql, pull requests merged in 2022-06, with the labels that each got.

#5474 Fix dbAuth on AWS Lambda
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/shared.ts
Labels: release:fix

#5611 Add warning box for missing roles in authorization doc
  docs/docs/tutorial/chapter4/authentication.md
Labels: release:docs

#5695 Fix typo in ArticleCell code snippet of Tutorial 2 docs
  docs/docs/tutorial/chapter2/routing-params.md
Labels: release:docs

#5694 Fix typos in docs
  docs/docs/deploy/baremetal.md
  docs/docs/testing.md
  docs/versioned_docs/version-1.0/deploy.md
  docs/versioned_docs/version-1.0/deploy/serverless.md
  docs/versioned_docs/version-1.0/tutorial/chapter3/saving-data.md
  docs/versioned_docs/version-1.0/tutorial/chapter5/first-test.md
  docs/versioned_docs/version-1.0/tutorial/chapter6/comment-form.md
  docs/versioned_docs/version-1.0/tutorial/chapter6/multiple-comments.md
  docs/versioned_docs/version-1.0/tutorial/intermission.md
  docs/versioned_docs/version-1.1/deploy/serverless.md
  docs/versioned_docs/version-1.1/tutorial/chapter3/saving-data.md
  docs/versioned_docs/version-1.1/tutorial/chapter6/comment-form.md
  docs/versioned_docs/version-1.1/tutorial/chapter6/multiple-comments.md
  docs/versioned_docs/version-1.1/tutorial/intermission.md
  docs/versioned_docs/version-1.2/forms.md
  docs/versioned_docs/version-1.2/tutorial/chapter4/authentication.md
  docs/versioned_docs/version-1.2/tutorial/intermission.md
  docs/versioned_docs/version-1.5/deploy/baremetal.md
  packages/cli/README.md
  packages/cli/src/commands/setup.js
  packages/codemods/src/codemods/v0.37.x/updateGraphQLFunction/README.md
  packages/record/README.md
Labels: release:docs

#5692 📝 Add documentation for custom input fields
  docs/docs/forms.md
Labels: release:docs

#5702 docs: yet another single byte typo squash
  docs/docs/project-configuration-dev-test-build.mdx
Labels: release:docs

#5698 docs: Removes unnecessary word in Chapter 3: saving-data.md
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:docs

#4954 Move import/order rule into shared eslint configuration
  .eslintrc.js
  packages/eslint-config/shared.js
Labels: topic/config, release:feature-breaking

#5658 docs: Link to current document source.
  docs/docusaurus.config.js
Labels: release:feature

#5701 fix: Handle undefined public key for Jwks request in auth0 decoder
  packages/api/src/auth/decoders/auth0.ts
Labels: release:fix, action/add-to-cycle

#5711 Fix typo
  docs/docs/tutorial/chapter4/authentication.md
Labels: release:docs

#5616 Fix typo in Tutorial Chapter 1 Prerequisites
  docs/docs/tutorial/chapter1/prerequisites.md
  docs/versioned_docs/version-1.4/tutorial/chapter1/prerequisites.md
Labels: release:docs

#5637 Update comment-form.md
  docs/docs/tutorial/chapter6/comment-form.md
  docs/docs/tutorial/chapter7/rbac.md
  docs/versioned_docs/version-1.4/tutorial/chapter6/comment-form.md
  docs/versioned_docs/version-1.4/tutorial/chapter7/rbac.md
Labels: release:docs

#5621 docs: Fix Typescript typo in authentication chapter
  docs/docs/tutorial/chapter4/authentication.md
Labels: release:docs

#5731 docs: (typo fix) Updated reference to GraphQL Yoga from Apollo
  docs/docs/tutorial/chapter2/side-quest.md
  docs/versioned_docs/version-1.5/tutorial/chapter2/side-quest.md
Labels: release:docs

#5732 Fixed not enough spaces after '>'
  docs/docs/authentication.md
Labels: release:docs

#5659 Reorganize router utils
  packages/router/src/__tests__/route-announcer.test.tsx
  packages/router/src/__tests__/route-focus.test.tsx
  packages/router/src/a11yUtils.ts
  packages/router/src/active-route-loader.tsx
  packages/router/src/util.ts
Labels: release:chore

#5733 Fix typo
  docs/versioned_docs/version-1.5/tutorial/chapter2/routing-params.md
Labels: release:docs

#5712 fix: typo in graphql.md generate service command
  docs/docs/graphql.md
  docs/versioned_docs/version-1.0/graphql.md
  docs/versioned_docs/version-1.1/graphql.md
  docs/versioned_docs/version-1.2/graphql.md
  docs/versioned_docs/version-1.3/graphql.md
  docs/versioned_docs/version-1.4/graphql.md
  docs/versioned_docs/version-1.5/graphql.md
Labels: release:docs

#5736 docs: Some fact checks in the deployment section.
  docs/docs/tutorial/chapter4/deployment.md
Labels: release:docs

#5758 Adds mailchimp signup form to tutorial Foreword page
  docs/docs/tutorial/foreword.md
  docs/versioned_docs/version-1.5/tutorial/foreword.md
Labels: release:docs

#5764 Adds note about errors when generating cells without a SDL file
  docs/docs/tutorial/chapter6/multiple-comments.md
  docs/versioned_docs/version-1.5/tutorial/chapter6/multiple-comments.md
Labels: topic/docs, topic/cells, topic/typescript, release:docs

#5760 docs: adding precisions and fixes to contributing
  docs/docs/contributing-walkthrough.md
Labels: release:docs

#5766 Lint fix some template files
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/scaffold.js
  packages/cli/src/commands/generate/scaffold/templates/components/EditNameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Name.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Names.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NamesCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NewName.tsx.template
  packages/cli/src/commands/generate/service/__tests__/__snapshots__/service.test.js.snap
  packages/cli/src/commands/generate/service/templates/service.ts.template
  packages/create-redwood-app/template/api/src/functions/graphql.ts
Labels: release:fix

#5704 fix: RedwoodLogger -- Mask errors, but include stack trace in formatter
  packages/api-server/src/__tests__/logFormatter.test.ts
  packages/api-server/src/logFormatter/index.ts
  packages/graphql-server/src/functions/graphql.ts
  packages/graphql-server/src/plugins/__tests__/useRedwoodLogger.test.ts
  packages/graphql-server/src/plugins/useRedwoodLogger.ts
Labels: release:fix

#5741 docs: GraphQL Yoga's playground, not Apollo Server's
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:docs

#5749 docs: yet another set of single byte typo squashing
  docs/docs/contributing-overview.md
  docs/docs/how-to/sending-emails.md
  docs/docs/typescript.md
Labels: release:docs

#5747 Correct a few spelling mistakes
  __fixtures__/test-project/api/src/functions/auth.ts
  docs/docs/connection-pooling.md
  docs/docs/how-to/supabase-auth.md
  docs/docs/testing.md
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.ts.template
  packages/graphql-server/src/plugins/useRedwoodLogger.ts
  packages/record/src/redwoodrecord/Core.js
Labels: release:docs

#5746 Simplify check
  __fixtures__/test-project/api/src/functions/auth.ts
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.ts.template
Labels: release:fix

#5734 fix: enable `windowsHide` for Windows OSes
  packages/telemetry/src/telemetry.ts
Labels: topic/windows, release:fix

#5787 Reorganize auth docs into sub-categories
  docs/docs/auth/auth0.md
  docs/docs/auth/azure.md
  docs/docs/auth/clerk.md
  docs/docs/auth/custom.md
  docs/docs/auth/dbauth.md
  docs/docs/auth/firebase.md
  docs/docs/auth/gotrue.md
  docs/docs/auth/magic-link.md
  docs/docs/auth/netlify.md
  docs/docs/auth/nhost.md
  docs/docs/auth/supabase.md
  docs/docs/auth/wallet-connect.md
  docs/docs/authentication.md
  docs/sidebars.js
  docs/versioned_docs/version-2.0/auth/auth0.md
  docs/versioned_docs/version-2.0/auth/azure.md
  docs/versioned_docs/version-2.0/auth/clerk.md
  docs/versioned_docs/version-2.0/auth/custom.md
  docs/versioned_docs/version-2.0/auth/dbauth.md
  docs/versioned_docs/version-2.0/auth/firebase.md
  docs/versioned_docs/version-2.0/auth/gotrue.md
  docs/versioned_docs/version-2.0/auth/magic-link.md
  docs/versioned_docs/version-2.0/auth/netlify.md
  docs/versioned_docs/version-2.0/auth/nhost.md
  docs/versioned_docs/version-2.0/auth/supabase.md
  docs/versioned_docs/version-2.0/auth/wallet-connect.md
  docs/versioned_docs/version-2.0/authentication.md
  docs/versioned_sidebars/version-2.0-sidebars.json
Labels: topic/docs, topic/auth, release:docs

#5777 fix typo
  docs/docs/tutorial/chapter7/rbac.md
Labels: release:docs

#5796 Maps JSON GraphQL Scalars to Prisma Json field types for compatibility
  packages/internal/src/__tests__/__snapshots__/graphqlCodeGen.test.ts.snap
  packages/internal/src/__tests__/graphqlCodeGen.test.ts
  packages/internal/src/generate/graphqlCodeGen.ts
  packages/internal/src/generate/graphqlSchema.ts
Labels: release:fix

#5781 Add Azure AD B2C auth provider compatibility
  docs/docs/auth/azure.md
  docs/docs/authentication.md
  packages/api/src/auth/decoders/azureActiveDirectory.ts
  packages/auth/src/authClients/azureActiveDirectory.ts
Labels: release:feature

#5763 validateUniquess optional prismaClient parameter
  docs/docs/services.md
  packages/api/src/validations/__tests__/validations.test.js
  packages/api/src/validations/validations.ts
Labels: release:fix

#5778 fix some grammar issues
  docs/docs/deploy/render.md
Labels: release:docs

#5742 Router tests: More advanced auth mock
  packages/router/src/__tests__/router.test.tsx
Labels: release:feature

#5832 Fix misnamed forbidden page route
  docs/docs/authentication.md
Labels: release:docs

#5780 fix: have user config for `addons` and `stories` take precedence
  packages/testing/config/storybook/main.js
  tasks/smoke-test/tests/storybook.spec.ts
Labels: topic/storybook, release:fix

#5837 Docs -> Tutorial - Update comment-form.md - Minor Typo
  docs/docs/tutorial/chapter6/comment-form.md
Labels: release:docs

#5848 fix(directive): Pass directiveArgs to mockExecution for transformers
  packages/testing/src/api/directive.ts
Labels: release:fix

#5774 Fix broken link in the tutorial
  docs/docs/tutorial/chapter5/testing.md
Labels: release:docs

#5783 docs: Updated connection-pooling to include Prisma Data Platform instructions
  docs/docs/connection-pooling.md
Labels: release:docs

#5858 Fix link to Prisma & Database
  docs/docs/deploy/vercel.md
Labels: release:docs

#5823 Don’t try typegen if SDL not defined
  packages/cli/src/commands/generate.js
  packages/cli/src/commands/generate/cell/cell.js
  packages/cli/src/commands/generate/cell/utils/utils.js
  packages/cli/src/commands/generate/helpers.js
  packages/internal/src/__tests__/gql.test.ts
  packages/internal/src/gql.ts
  packages/internal/src/index.ts
Labels: release:fix
