Repository redwoodjs/graphql, pull requests merged in 2022-07, with the labels that each got.

#5816 When using dbAuth, don't call `getToken` multiple times per page
  packages/auth/src/authClients/__tests__/dbAuth.test.jsx
  packages/auth/src/authClients/dbAuth.ts
Labels: topic/auth, release:feature

#5857 Link non-primitive types in JSDoc
  packages/cli/src/commands/setup/auth/templates/auth.ts.template
  packages/cli/src/commands/setup/auth/templates/auth0.auth.ts.template
  packages/cli/src/commands/setup/auth/templates/azureActiveDirectory.auth.ts.template
  packages/cli/src/commands/setup/auth/templates/clerk.auth.ts.template
  packages/cli/src/commands/setup/auth/templates/dbAuth.auth.ts.template
  packages/cli/src/commands/setup/auth/templates/firebase.auth.ts.template
  packages/cli/src/commands/setup/auth/templates/magicLink.auth.js.template
  packages/graphql-server/src/functions/__tests__/fixtures/auth.ts
Labels: release:chore

#5865 Tutorial: intermission.md - add missing word
  docs/docs/tutorial/intermission.md
Labels: release:docs

#5859 docs: How to customize Not Found and Fatal Error pages
  docs/docs/router.md
  docs/static/img/router/custom_not_found_page.png
  docs/static/img/router/fatal_error_message.png
  docs/static/img/router/fatal_error_message_query.png
  docs/static/img/router/fatal_error_request.png
  docs/static/img/router/fatal_something_went_wrong.png
  docs/static/img/router/fatal_something_went_wrong_custom.png
Labels: release:docs

#5512 feat: add GenerateGraphiQLHeaders as new param in createGraphQLHandler
  docs/docs/cli-commands.md
  packages/api/src/functions/dbAuth/shared.ts
  packages/cli/src/commands/destroy/graphiql/graphiql.js
  packages/cli/src/commands/setup/auth/auth.js
  packages/cli/src/commands/setup/graphiql/__tests__/graphiqlHandler.test.js
  packages/cli/src/commands/setup/graphiql/graphiql.js
  packages/cli/src/commands/setup/graphiql/templates/graphiql-mock.ts.template
  packages/cli/src/commands/setup/graphiql/templates/graphiql-token.ts.template
  packages/cli/src/lib/index.js
  packages/create-redwood-app/template/gitignore.template
  packages/graphql-server/src/functions/graphql.ts
  packages/graphql-server/src/functions/types.ts
Labels: release:feature

#5822 Adds mockAsyncRedwoodDirective to test asynchronous Validator or Transformer RedwoodDirectives
  docs/docs/directives.md
  docs/docs/testing.md
  packages/testing/src/api/directive.ts
Labels: topic/graphql, release:feature

#5876 Tutorial chapter 2: Update text for link to chapter 5
  docs/docs/tutorial/chapter2/cells.md
Labels: release:docs

#5877 Tutorial chapter 2: Fix grammar in side-quest.md
  docs/docs/tutorial/chapter2/side-quest.md
Labels: release:docs

#5856 Fix type errors in `lib/auth.ts` when using a non-RBAC `dbAuth` setup
  packages/internal/src/generate/templates/all-currentUser.d.ts.template
Labels: release:fix

#5882 [minor] Makes the error message a bit clearer when a navigation url is crashing your app
  packages/router/src/__tests__/util.test.ts
  packages/router/src/util.ts
Labels: release:feature

#5867 Make Form generic for better TS support
  packages/forms/package.json
  packages/forms/src/FormError.tsx
  packages/forms/src/index.tsx
  yarn.lock
Labels: release:feature

#5889 Fix file structure display
  docs/docs/tutorial/chapter1/file-structure.md
Labels: release:docs

#5891 feat: add noire-munich to core team and update all contributors
  README.md
  tasks/all-contributors/.all-contributorsrc
  tasks/release/release.mjs
Labels: release:chore

#5904 Fix single-character typo
  docs/docs/deploy/serverless.md
Labels: release:docs

#5899 fix: temporarily disable telemetry on windows
  packages/telemetry/src/telemetry.ts
Labels: release:fix

#5914 Fix: Remove "node:os" import from telemetry
  packages/telemetry/src/telemetry.ts
Labels: release:chore

#5873 Conditionally render TS docs in tutorial
  docs/docs/tutorial/chapter2/cells.md
  docs/docs/tutorial/chapter3/saving-data.md
  docs/src/components/FileExtSwitcher.tsx
  docs/src/components/ShowForTs.tsx
  docs/src/theme/MDXComponents.js
  docs/versioned_docs/version-2.1/tutorial/chapter2/cells.md
  docs/versioned_docs/version-2.1/tutorial/chapter3/saving-data.md
Labels: release:docs

#5759 chore: update lerna to 5.1 and enable nx
  .github/workflows/ci.yml
  lerna.json
  nx.json
  package.json
  packages/api-server/package.json
  packages/forms/package.json
  tasks/build-and-copy
  tasks/framework-tools/lib/framework.mjs
  tasks/run-e2e
  tsconfig.json
  yarn.lock
Labels: release:chore

#5937 Fix type in docs.
  docs/docs/tutorial/chapter2/getting-dynamic.md
Labels: release:docs

#4880 fix(auth): Fix clerk issues with early mounting and unmounting
  __fixtures__/test-project/api/db/migrations/20220703101507_create_product/migration.sql
  __fixtures__/test-project/api/db/migrations/20220703101521_create_contact/migration.sql
  __fixtures__/test-project/api/db/migrations/20220703101602_db_auth/migration.sql
  __fixtures__/test-project/api/src/functions/graphql.ts
  __fixtures__/test-project/api/src/lib/auth.ts
  __fixtures__/test-project/api/src/services/contacts/contacts.ts
  __fixtures__/test-project/api/src/services/posts/posts.ts
  __fixtures__/test-project/package.json
  __fixtures__/test-project/web/config/tailwind.config.js
  __fixtures__/test-project/web/package.json
  __fixtures__/test-project/web/src/Routes.tsx
  __fixtures__/test-project/web/src/components/Contact/Contact/Contact.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactCell/ContactCell.tsx
  __fixtures__/test-project/web/src/components/Contact/Contacts/Contacts.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactsCell/ContactsCell.tsx
  __fixtures__/test-project/web/src/components/Contact/EditContactCell/EditContactCell.tsx
  __fixtures__/test-project/web/src/components/Contact/NewContact/NewContact.tsx
  __fixtures__/test-project/web/src/components/Post/EditPostCell/EditPostCell.tsx
  __fixtures__/test-project/web/src/components/Post/NewPost/NewPost.tsx
  __fixtures__/test-project/web/src/components/Post/Post/Post.tsx
  __fixtures__/test-project/web/src/components/Post/PostCell/PostCell.tsx
  __fixtures__/test-project/web/src/components/Post/Posts/Posts.tsx
  __fixtures__/test-project/web/src/components/Post/PostsCell/PostsCell.tsx
  packages/auth/package.json
  packages/auth/src/AuthProvider.tsx
  packages/auth/src/__tests__/AuthProvider.test.tsx
  packages/auth/src/authClients/AuthClient.ts
  packages/auth/src/authClients/SupportedAuthClients.ts
  packages/auth/src/authClients/clerk.ts
  packages/auth/src/authClients/index.ts
  packages/cli/src/commands/setup/auth/providers/clerk.js
  packages/core/config/webpack.common.js
  packages/testing/config/storybook/main.js
  yarn.lock
Labels: topic/auth, release:fix

#5961 Fix error in Redirect reference
  docs/docs/router.md
  docs/versioned_docs/version-2.1/router.md
Labels: release:docs

#5971 Add setup ui option for windicss library
  docs/docs/cli-commands.md
Labels: release:docs

#5752 fix: check for edge cases on resolve union type
  packages/graphql-server/src/makeMergedSchema/__tests__/makeMergedSchema.test.ts
  packages/graphql-server/src/makeMergedSchema/makeMergedSchema.ts
Labels: release:fix

#5968 Removed outdated content
  docs/docs/contributing-overview.md
Labels: release:docs

#5088 Add Okta to auth providers
  docs/docs/auth/okta.md
  docs/docs/authentication.md
  docs/sidebars.js
  package.json
  packages/api/package.json
  packages/api/src/auth/decoders/index.ts
  packages/api/src/auth/decoders/okta.ts
  packages/auth/package.json
  packages/auth/src/authClients/SupportedAuthClients.ts
  packages/auth/src/authClients/index.ts
  packages/auth/src/authClients/okta.ts
  packages/cli/src/commands/setup/auth/providers/okta.js
  packages/cli/src/commands/setup/auth/templates/okta.auth.ts.template
  yarn.lock
Labels: topic/auth, release:feature

#5911 chore: clean up mock auth client
  packages/testing/src/web/MockProviders.tsx
Labels: topic/auth, topic/testing, release:chore

#5970 fix(graphql): Fixes multiValueHeader handling (and CORS) in graphql handler
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/graphql-server/src/__tests__/cors.test.ts
  packages/graphql-server/src/functions/graphql.ts
Labels: release:fix

#5988 chore: connect repo to nx cloud to speed up builds
  nx.json
  package.json
  yarn.lock
Labels: topic/ops-&-contributing-dx, release:chore

#6006 Little grammar change
  docs/docs/quick-start.md
Labels: release:docs

#5851 Provide a possibility to disable flows in dbAuth completely
  docs/docs/auth/dbauth.md
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/api/src/functions/dbAuth/errors.ts
  packages/cli/src/commands/setup/auth/templates/dbAuth.function.ts.template
Labels: release:feature

#5998 fix: `yarn rw setup auth clerk` fails in canary
  packages/cli/src/commands/setup/auth/providers/clerk.js
Labels: topic/cli, release:fix

#5979 fix(storybook): add `args` to auto generate docs
  packages/cli/src/commands/generate/cell/__tests__/__snapshots__/cell.test.js.snap
  packages/cli/src/commands/generate/cell/templates/stories.js.template
  packages/cli/src/commands/generate/component/__tests__/__snapshots__/component.test.ts.snap
  packages/cli/src/commands/generate/component/templates/stories.tsx.template
  packages/cli/src/commands/generate/layout/__tests__/__snapshots__/layout.test.ts.snap
  packages/cli/src/commands/generate/layout/templates/stories.tsx.template
  packages/cli/src/commands/generate/page/__tests__/__snapshots__/page.test.js.snap
  packages/cli/src/commands/generate/page/templates/stories.tsx.template
Labels: topic/generators-&-scaffolds, topic/storybook, release:fix

#5812 tailwindcss ui: Add tailwindcss prettier rules
  packages/cli/src/commands/setup/ui/libraries/tailwindcss.js
Labels: topic/cli, release:feature

#5969 Codemods for 4880 (clerk)
  packages/codemods/src/codemods/v2.2.x/updateClerk/README.md
  packages/codemods/src/codemods/v2.2.x/updateClerk/__testfixtures__/app.input.js
  packages/codemods/src/codemods/v2.2.x/updateClerk/__testfixtures__/app.output.js
  packages/codemods/src/codemods/v2.2.x/updateClerk/__tests__/updateClerk.test.ts
  packages/codemods/src/codemods/v2.2.x/updateClerk/updateClerk.ts
  packages/codemods/src/codemods/v2.2.x/updateClerk/updateClerk.yargs.ts
Labels: release:chore

#5800 doc(graphql): GraphQL 101 section
  docs/docs/graphql.md
Labels: release:docs

#6002 docs: add link to Prisma Data Proxy
  docs/docs/connection-pooling.md
Labels: release:docs

#6030 Corrects schema.prisma file path in Deployment section
  docs/docs/local-postgres-setup.md
Labels: release:docs

#6023 Show correct env filename on serverless firstrun deploy
  packages/cli/src/commands/deploy/serverless.js
Labels: topic/cli, release:fix

#6033 (chore): Fix rebuild fixture
  __fixtures__/test-project/.gitignore
  __fixtures__/test-project/.yarn/releases/yarn-3.2.1.cjs
  __fixtures__/test-project/.yarn/releases/yarn-3.2.2.cjs
  __fixtures__/test-project/.yarnrc.yml
  __fixtures__/test-project/api/db/migrations/20220725125518_create_product/migration.sql
  __fixtures__/test-project/api/db/migrations/20220725125527_create_contact/migration.sql
  __fixtures__/test-project/api/db/migrations/20220725125600_db_auth/migration.sql
  __fixtures__/test-project/api/src/directives/requireAuth/requireAuth.test.ts
  __fixtures__/test-project/api/src/functions/auth.ts
  __fixtures__/test-project/api/src/functions/graphql.ts
  __fixtures__/test-project/api/src/graphql/contacts.sdl.ts
  __fixtures__/test-project/api/src/graphql/posts.sdl.ts
  __fixtures__/test-project/api/src/lib/auth.ts
  __fixtures__/test-project/package.json
  __fixtures__/test-project/prettier.config.js
  __fixtures__/test-project/web/package.json
  __fixtures__/test-project/web/src/App.tsx
  __fixtures__/test-project/web/src/Routes.tsx
  __fixtures__/test-project/web/src/components/BlogPost/BlogPost.stories.tsx
  __fixtures__/test-project/web/src/components/BlogPost/BlogPost.tsx
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.mock.ts
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.stories.tsx
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.test.tsx
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.tsx
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.mock.ts
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.stories.tsx
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.test.tsx
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.tsx
  __fixtures__/test-project/web/src/components/Contact/Contact/Contact.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactForm/ContactForm.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactsCell/ContactsCell.tsx
  __fixtures__/test-project/web/src/components/Contact/EditContactCell/EditContactCell.tsx
  __fixtures__/test-project/web/src/components/Contact/NewContact/NewContact.tsx
  __fixtures__/test-project/web/src/components/Post/Post/Post.tsx
  __fixtures__/test-project/web/src/components/Post/PostForm/PostForm.tsx
  __fixtures__/test-project/web/src/components/Post/PostsCell/PostsCell.tsx
  __fixtures__/test-project/web/src/layouts/BlogLayout/BlogLayout.stories.tsx
  __fixtures__/test-project/web/src/layouts/BlogLayout/BlogLayout.tsx
  __fixtures__/test-project/web/src/layouts/ContactsLayout/ContactsLayout.tsx
  __fixtures__/test-project/web/src/layouts/PostsLayout/PostsLayout.tsx
  __fixtures__/test-project/web/src/pages/AboutPage/AboutPage.stories.tsx
  __fixtures__/test-project/web/src/pages/AboutPage/AboutPage.tsx
  __fixtures__/test-project/web/src/pages/BlogPostPage/BlogPostPage.stories.tsx
  __fixtures__/test-project/web/src/pages/BlogPostPage/BlogPostPage.tsx
  __fixtures__/test-project/web/src/pages/ContactPage/ContactPage.stories.tsx
  __fixtures__/test-project/web/src/pages/ContactPage/ContactPage.tsx
  __fixtures__/test-project/web/src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  __fixtures__/test-project/web/src/pages/HomePage/HomePage.stories.tsx
  __fixtures__/test-project/web/src/pages/HomePage/HomePage.tsx
  __fixtures__/test-project/web/src/pages/LoginPage/LoginPage.tsx
  __fixtures__/test-project/web/src/pages/ProfilePage/ProfilePage.stories.tsx
  __fixtures__/test-project/web/src/pages/ProfilePage/ProfilePage.test.tsx
  __fixtures__/test-project/web/src/pages/ProfilePage/ProfilePage.tsx
  __fixtures__/test-project/web/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  __fixtures__/test-project/web/src/pages/SignupPage/SignupPage.tsx
  __fixtures__/test-project/web/src/scaffold.css
  tasks/smoke-test/playwright.config.ts
  tasks/smoke-test/tests/storybook.spec.ts
  tasks/test-project/tasks.js
  tasks/test-project/test-project
Labels: release:chore

#6034 feat(CI): speed up docs-only CI step
  .github/actions/only_doc_changes/package.json
  .github/actions/only_doc_changes/yarn.lock
  .github/workflows/ci.yml
Labels: topic/ops-&-contributing-dx, release:chore

#6044 Tutorial 6.3: Condense highlighted section to actual changes
  docs/docs/tutorial/chapter6/comments-schema.md
Labels: release:docs

#6043 Tutorial 6.2: Wrap JSX element array in fragment tag
  docs/docs/tutorial/chapter6/multiple-comments.md
Labels: release:docs

#6014 feat(internal): generate proper types for cells with custom props
  docs/docs/cells.md
  packages/internal/src/__tests__/typeDefinitions.test.ts
  packages/internal/src/generate/templates/mirror-cell.d.ts.template
  packages/web/src/components/createCell.test.tsx
  packages/web/src/components/createCell.tsx
Labels: topic/cells, topic/typescript, release:feature, enhancement

#5875 fix: Configure and Document GraphQL Health Check for GraphQL Yoga
  docs/docs/graphql.md
  packages/graphql-server/src/functions/graphql.ts
  packages/graphql-server/src/functions/types.ts
Labels: release:fix

#6035 small update to flightcontrol deploy doc
  docs/docs/deploy/flightcontrol.md
  docs/sidebars.js
Labels: release:docs

#6022 Adds flags to skip prompting of WebAuthn install for headless commands
  __fixtures__/test-project/web/package.json
  packages/cli/src/commands/generate/dbAuth/dbAuth.js
  packages/cli/src/commands/setup/auth/auth.js
  tasks/test-project/tasks.js
Labels: topic/auth, release:feature

#6024 Switch WebAuthn requests to XMLHttpRequest instead of fetch to get around security limitations
  docs/docs/auth/dbauth.md
  packages/auth/src/webAuthn/index.ts
Labels: topic/auth, release:fix

#6037 5101: Removed @typescript-eslint/ plugin name in eslint-disable-next-line statement to be compatible with js files too
  packages/create-redwood-app/template/api/src/lib/auth.ts
Labels: release:fix

#6060 Avoid typescript warning when no roles key is supplied
  packages/cli/src/commands/setup/auth/templates/dbAuth.auth.ts.template
Labels: release:fix

#6070 Copy changes from "Make Jest Debugging a No-Brainer" (5296)
  packages/create-redwood-app/template/.vscode/launch.json
Labels: topic/crwa, release:feature

#6042 Tutorial 6.2: Add generics type hint to CellSuccessProps
  docs/docs/tutorial/chapter6/multiple-comments.md
Labels: release:docs

#6046 Tutorial 6.4: Add type generics to mockGraphQLMutation
  docs/docs/tutorial/chapter6/comment-form.md
Labels: release:docs

#6074 fix(cli): Modify existence check of jest.config to check for both .js and .ts extensions in rw test
  packages/cli/src/commands/testHandler.js
Labels: release:fix

#5903 Configure Fastify Server with Custom Plugins + Fastify Upgrade
  __fixtures__/test-project/.vscode/launch.json
  __fixtures__/test-project/api/db/migrations/20220729005159_create_product/migration.sql
  __fixtures__/test-project/api/db/migrations/20220729005209_create_contact/migration.sql
  __fixtures__/test-project/api/db/migrations/20220729005313_db_auth/migration.sql
  __fixtures__/test-project/api/server.config.js
  __fixtures__/test-project/api/src/lib/auth.ts
  docs/docs/app-configuration-redwood-toml.md
  packages/api-server/package.json
  packages/api-server/src/__tests__/requestHandlers/awsLambdaFastify.test.ts
  packages/api-server/src/__tests__/requestHandlers/utils.test.ts
  packages/api-server/src/__tests__/withApiProxy.test.ts
  packages/api-server/src/__tests__/withFunctions.test.ts
  packages/api-server/src/__tests__/withWebServer.test.ts
  packages/api-server/src/app.ts
  packages/api-server/src/cliHandlers.ts
  packages/api-server/src/fastify.ts
  packages/api-server/src/index.ts
  packages/api-server/src/plugins/lambdaLoader.ts
  packages/api-server/src/plugins/withApiProxy.ts
  packages/api-server/src/plugins/withFunctions.ts
  packages/api-server/src/plugins/withWebServer.ts
  packages/api-server/src/requestHandlers/awsLambdaFastify.ts
  packages/api-server/src/requestHandlers/utils.ts
  packages/api-server/src/server.ts
  packages/api-server/src/types.ts
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/codemods/src/codemods/v2.x.x/configureFastify/README.md
  packages/codemods/src/codemods/v2.x.x/configureFastify/__testfixtures__/default.input.js
  packages/codemods/src/codemods/v2.x.x/configureFastify/__testfixtures__/default.output.js
  packages/codemods/src/codemods/v2.x.x/configureFastify/__tests__/configureFastify.test.ts
  packages/codemods/src/codemods/v2.x.x/configureFastify/configureFastify.ts
  packages/codemods/src/codemods/v2.x.x/configureFastify/configureFastify.yargs.ts
  packages/create-redwood-app/template/api/server.config.js
  packages/graphql-server/src/functions/graphql.ts
  yarn.lock
Labels: release:feature-breaking

#6079 Remove prisma db seed from intermission.md
  docs/docs/tutorial/intermission.md
Labels: release:docs

#6076 Doc: Move generate script up in list
  docs/docs/cli-commands.md
Labels: release:docs

#6083 Update types used in scaffolds
  __fixtures__/test-project/api/db/migrations/20220729200017_create_post_user/migration.sql
  __fixtures__/test-project/api/db/migrations/20220729200027_create_contact/migration.sql
  __fixtures__/test-project/api/src/services/posts/posts.scenarios.ts
  __fixtures__/test-project/api/src/services/users/users.scenarios.ts
  __fixtures__/test-project/web/package.json
  __fixtures__/test-project/web/src/components/Contact/Contact/Contact.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactForm/ContactForm.tsx
  __fixtures__/test-project/web/src/components/Contact/Contacts/Contacts.tsx
  __fixtures__/test-project/web/src/components/Contact/EditContactCell/EditContactCell.tsx
  __fixtures__/test-project/web/src/components/Post/EditPostCell/EditPostCell.tsx
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/templates/components/EditNameCell.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Name.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NameForm.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/Names.tsx.template
  packages/cli/src/commands/generate/scaffold/templates/components/NewName.tsx.template
Labels: release:fix
