Repository redwoodjs/graphql, pull requests merged in 2022-04, with the labels that each got.

#4973 Add --quiet option to nodemon
  docs/docs/graphql.md
  packages/cli/src/commands/__tests__/dev.test.js
  packages/cli/src/commands/dev.js
Labels: topic/cli, release:chore

#4981 Make docs styling a little more consistent
  docs/src/css/custom.css
Labels: topic/docs

#4976 [CLI] rw check spacing
  packages/structure/src/index.ts
Labels: release:fix

#4990 Update comment-form.md
  docs/docs/tutorial/chapter6/comment-form.md
Labels: release:chore

#4948 fix(routes): Handle explicitly imported pages with different names
  .github/workflows/smoke-test.yaml
  __fixtures__/test-project/web/src/Routes.tsx
  packages/internal/src/__tests__/build_web.test.ts
  packages/internal/src/__tests__/fixtures/nestedPages/redwood.toml
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/Routes.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/index.html
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/layouts/AdminLayout/AdminLayout.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/layouts/MainLayout/MainLayout.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Admin/User/EditUserPage/EditUserPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Admin/User/NewUserPage/NewUserPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Admin/User/UserPage/UserPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Admin/User/UsersPage/UsersPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/FatalErrorPage/FatalErrorPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/ForgotPasswordPage/ForgotPasswordPage.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/HomePage/HomePage.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/HomePage/HomePage.stories.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/HomePage/HomePage.test.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/AllJobProfilesPage/AllJobProfilesPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/AllJobsPage/AllJobsPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/EditJobPage/EditJobPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/EditJobProfilePage/EditJobProfilePage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/JobPage/JobPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/JobProfilePage/JobProfilePage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/JobsPage/JobsPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/NewJobPage/NewJobPage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/Jobs/NewJobProfilePage/NewJobProfilePage.tsx
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/LoginPage/LoginPage.js
  packages/internal/src/__tests__/fixtures/nestedPages/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/internal/src/__tests__/nestedPages.test.ts
  packages/internal/src/build/babelPlugins/babel-plugin-redwood-routes-auto-loader.ts
  tasks/smoke-test/playwright-fixtures/rwServe.fixture.ts
  tasks/smoke-test/tests/prerender.spec.ts
  tasks/test-project/codemods/routes.js
Labels: release:fix

#4985 major improvement to Flightcontrol Deployment
  docs/docs/deploy/flightcontrol.md
  packages/cli/src/commands/setup/deploy/providers/flightcontrol.js
  packages/cli/src/commands/setup/deploy/templates/flightcontrol.js
Labels: release:fix

#4993 Rename Cookbook to How To, add Introduction, update Quick Start
  docs/docs/cli-commands.md
  docs/docs/contributing-overview.md
  docs/docs/contributing-walkthrough.md
  docs/docs/how-to/background-worker.md
  docs/docs/how-to/custom-function.md
  docs/docs/how-to/disable-api-database.md
  docs/docs/how-to/file-uploads.md
  docs/docs/how-to/gotrue-auth.md
  docs/docs/how-to/mocking-graphql-in-storybook.md
  docs/docs/how-to/pagination.md
  docs/docs/how-to/role-based-access-control.md
  docs/docs/how-to/self-hosting-redwood.md
  docs/docs/how-to/sending-emails.md
  docs/docs/how-to/supabase-auth.md
  docs/docs/how-to/using-a-third-party-api.md
  docs/docs/how-to/windows-development-setup.md
  docs/docs/introduction.md
  docs/docs/quick-start.md
  docs/docs/seo-head.md
  docs/docs/tutorial/afterword.md
  docs/docs/tutorial/chapter1/prerequisites.md
  docs/netlify.toml
  docs/sidebars.js
  docs/src/css/custom.css
  packages/cli/src/commands/setup/auth/templates/ethereum.auth.ts.template
  packages/create-redwood-app/README.md
  packages/create-redwood-app/template/README.md
  packages/router/src/splash-page.tsx
  packages/structure/src/outline/outline.ts
Labels: topic/docs, topic/create-redwood-app, release:feature

#5005 Adds title and description frontmatter to docs Reference section
  docs/docs/a11y.md
  docs/docs/app-configuration-redwood-toml.md
  docs/docs/assets-and-files.md
  docs/docs/authentication.md
  docs/docs/builds.md
  docs/docs/cells.md
  docs/docs/cli-commands.md
  docs/docs/connection-pooling.md
  docs/docs/contributing-overview.md
  docs/docs/contributing-walkthrough.md
  docs/docs/cors.md
  docs/docs/custom-web-index.md
  docs/docs/data-migrations.md
  docs/docs/directives.md
  docs/docs/environment-variables.md
  docs/docs/forms.md
  docs/docs/graphql.md
  docs/docs/introduction.md
  docs/docs/local-postgres-setup.md
  docs/docs/logger.md
  docs/docs/mocking-graphql-requests.md
  docs/docs/prerender.md
  docs/docs/project-configuration-dev-test-build.mdx
  docs/docs/quick-start.md
  docs/docs/redwoodrecord.md
  docs/docs/router.md
  docs/docs/schema-relations.md
  docs/docs/security.md
  docs/docs/seo-head.md
  docs/docs/serverless-functions.md
  docs/docs/services.md
  docs/docs/storybook.md
  docs/docs/testing.md
  docs/docs/toast-notifications.md
  docs/docs/typescript.md
  docs/docs/webhooks.md
  docs/docs/webpack-configuration.md
Labels: release:chore

#5009 Update docs node version requirement to reflect current redwood reqs
  docs/docs/tutorial/chapter1/prerequisites.md
Labels: release:chore

#4983 docs: fix code snippet `posts` -> `articles`
  docs/docs/tutorial/chapter5/first-test.md
Labels: release:chore

#5014 (docs) update intro section links for Auth and Deploy Docs
  docs/docs/authentication.md
  docs/docs/deploy/introduction.md
Labels: release:chore

#4995 Updates mentions of GraphQL Helix to use GraphQL Yoga
  README.md
  docs/docs/graphql.md
  docs/docs/tutorial/chapter2/side-quest.md
  packages/api/src/transforms.ts
  tasks/e2e/cypress/integration/01-tutorial/tutorial.spec.js
Labels: release:chore

#5021 Fix link in splash page
  packages/router/src/splash-page.tsx
Labels: release:fix

#5024 Update GraphQL Explorer in the Tutorial
  docs/docs/tutorial/chapter3/saving-data.md
Labels: topic/docs, release:fix

#5033 Rename GitPod to Gitpod
  docs/docs/contributing-walkthrough.md
Labels: release:chore

#5037 Add Layer0 to deploy menu
  docs/sidebars.js
Labels: topic/docs, release:chore

#5032 [Tutorial] Fix wrong property
  docs/docs/tutorial/chapter6/the-redwood-way.md
Labels: release:chore

#4854 Docs: Explains use of REDWOOD_ENV_EDITOR in dev error page
  docs/docs/environment-variables.md
Labels: release:chore

#5045 [Tutorial] Update postgresql provider string in schema.prisma
  docs/docs/tutorial/chapter4/deployment.md
  docs/docs/tutorial/intermission.md
Labels: release:chore

#5051 Update connection pooling link
  docs/docs/tutorial/chapter4/deployment.md
Labels: topic/docs, release:fix

#5020 [Tutorial] Chapter 2: Wrap rendered `<article>` in React fragments
  docs/docs/tutorial/chapter2/cells.md
  docs/docs/tutorial/chapter2/routing-params.md
Labels: release:fix

#5044 Update deployment.md
  docs/docs/tutorial/chapter4/deployment.md
Labels: release:chore

#5069 i18n setup: Fix storybook preview config template
  packages/cli/src/commands/setup/i18n/templates/storybook.preview.js.template
Labels: release:fix

#5017 Fix typos & aggregate `import`s in Tutorial Chapter 3
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:fix

#5073 Bump webpack version to match storybook
  packages/core/package.json
  yarn.lock
Labels: release:fix

#5077 Use correct deploy and auth commands
  docs/docs/quick-start.md
  packages/create-redwood-app/template/README.md
Labels: release:fix

#5031 [Fix] Add Chakra UI integration
  packages/cli/src/commands/setup/ui/libraries/chakra-ui.js
Labels: release:chore

#5085 chakra-ui setup: Format code
  packages/cli/src/commands/setup/ui/libraries/chakra-ui.js
Labels: release:chore

#4967 fix(api): mask db related errors
  packages/api/src/functions/dbAuth/DbAuthHandler.ts
  packages/api/src/functions/dbAuth/__tests__/DbAuthHandler.test.js
  packages/api/src/functions/dbAuth/errors.ts
Labels: release:fix

#5132 Let CI run for docs
  .github/workflows/build-eslint-jest.yaml
  .github/workflows/e2e.yaml
  .github/workflows/smoke-test.yaml
Labels: topic/docs, topic/ops-&-contributing-dx, release:chore

#5134 Fix Maximum Call Stack Size Exceeded when using requireAuth with Func…
  packages/graphql-server/src/functions/__tests__/globalContext.test.ts
  packages/graphql-server/src/functions/useRequireAuth.ts
  packages/graphql-server/src/globalContext.ts
Labels: release:fix

#5105 docs readme: No yelling
  docs/README.md
Labels: release:chore

#5141 Typo fix in mocking-graphql-in-storybook.md
  docs/docs/how-to/mocking-graphql-in-storybook.md
Labels: release:chore

#5124 Fix deprecated API
  docs/docs/how-to/role-based-access-control.md
Labels: release:fix

#5144 Ignore Storybook CSS alias if file doesn't exist
  packages/testing/config/storybook/main.js
Labels: topic/storybook, release:fix

#5148 Fix typo, grammar, wording, code highlighting in tutorial/chapter3/forms.md
  docs/docs/tutorial/chapter3/forms.md
Labels: topic/docs, release:fix

#5086 Add clarity around node installations
  docs/docs/tutorial/chapter1/prerequisites.md
Labels: topic/docs, release:fix

#5114 Docs (Serverless Functions): fix incomplete check of quotient
  docs/docs/serverless-functions.md
Labels: topic/docs, release:fix

#5092 Correct website/docs links in readme
  README.md
Labels: release:chore

#5103 "guides" should link to "Reference" section
  docs/docs/tutorial/afterword.md
Labels: topic/docs, release:fix

#5149 Don't publish canaries on docs-only changes
  .github/workflows/publish-npm-canary.yaml
Labels: topic/docs, topic/ops-&-contributing-dx, release:chore

#5106 Remove GitHub Issue and PR templates
  .github/issue_template.md
  .github/pull_request_template.md
Labels: release:chore

#5147 Fix name option on yarn rw prisma
  packages/cli/src/commands/prisma.js
Labels: topic/cli, release:fix

#5139 Baremetal deploy
  docs/docs/deploy/baremetal.md
  packages/cli/src/commands/deploy/baremetal.js
Labels: topic/docs, topic/deployment, release:fix

#5165 move @types/react resolution to Redwood packages with @types/react-dom dep
  __fixtures__/test-project/package.json
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/README.md
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/__testfixtures__/add/input/package.json
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/__testfixtures__/add/output/package.json
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/__testfixtures__/append/input/package.json
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/__testfixtures__/append/output/package.json
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/__tests__/addTypesReactResolution.test.ts
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/addTypesReactResolution.ts
  packages/codemods/src/codemods/v1.1.x/addTypesReactResolution/addTypesReactResolution.yargs.ts
  packages/core/package.json
  packages/create-redwood-app/template/package.json
  packages/forms/package.json
  packages/testing/package.json
  packages/web/package.json
Labels: release:fix

#5192 Fix for @types/react using new versions
  package.json
  packages/auth/package.json
  packages/core/package.json
  packages/forms/package.json
  packages/testing/package.json
  packages/web/package.json
  yarn.lock
Labels: release:fix

#4968 feat(auth): Clerk v3 upgrade
  packages/api/package.json
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/authClients/clerk.ts
  yarn.lock
Labels: topic/auth, release:chore

#5196 Comment out link to predictcovid
  docs/docs/cells.md
Labels: topic/docs, release:chore

#5201 yet another batch of typo squashing
  docs/docs/deploy/baremetal.md
  docs/docs/deploy/serverless.md
  docs/docs/tutorial/chapter3/saving-data.md
  docs/docs/tutorial/chapter6/comment-form.md
  docs/docs/tutorial/chapter6/multiple-comments.md
Labels: topic/docs, release:chore

#5197 Remove stray @types/react resolution from @redwoodjs/core
  packages/core/package.json
Labels: release:chore

#5199 Update RC-publishing workflow
  .github/workflows/publish-npm-canary.yaml
  .github/workflows/publish-npm-rc.yaml
  tasks/publish-rc
Labels: topic/ops-&-contributing-dx, release:chore

#5211 Fix type gen on `yarn rw g directive`
  packages/cli/src/commands/generate/directive/directive.js
Labels: topic/cli, release:fix

#5212 Fix incorrect prop in tutorial
  docs/docs/tutorial/chapter5/first-test.md
Labels: topic/docs, release:fix

#5214 Add missing word to tutorial
  docs/docs/tutorial/chapter6/comments-schema.md
Labels: topic/docs, release:fix

#5205 Fix - No delete command for directives
  packages/cli/src/commands/destroy/directive/__tests__/directive.test.js
  packages/cli/src/commands/destroy/directive/directive.js
Labels: topic/cli, release:feature

#5220 Foreward -> Foreword
  CONTRIBUTING.md
Labels: topic/docs, release:fix

#5223 [docs] Update wrong links
  docs/docs/deploy/serverless.md
  docs/docs/deploy/vercel.md
Labels: topic/docs, release:fix

#4460 Add emptyAs prop to form input fields
  docs/docs/forms.md
  packages/forms/src/__tests__/form.test.tsx
  packages/forms/src/index.tsx
Labels: topic/forms, release:feature

#5236 Updated the CLI doc for destroy directive cmd
  docs/docs/cli-commands.md
Labels: release:chore

#5242 Add emptyAs prop to form input fields - Missing Test
  packages/forms/src/__tests__/form.test.tsx
Labels: release:chore

#5093 Comment template file .yarnrc.yml options
  packages/create-redwood-app/template/.yarnrc.yml
Labels: topic/create-redwood-app, release:chore

#5099 Add recommended VS Code extensions when setting up tailwindcss
  packages/cli/src/commands/setup/ui/libraries/tailwindcss.js
  packages/cli/src/lib/__tests__/index.test.js
  packages/cli/src/lib/index.js
Labels: topic/cli, release:feature

#5207 Refactor CI to handle skipping docs
  .github/actions/only_doc_changes/action.yml
  .github/actions/only_doc_changes/only_doc_changes.mjs
  .github/actions/setup_job/action.yml
  .github/workflows/build-eslint-jest.yaml
  .github/workflows/ci.yml
  .github/workflows/e2e.yaml
  .github/workflows/smoke-test.yaml
Labels: topic/ops-&-contributing-dx, release:chore

#5264 Update "styles" for rest of workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/require-PR-label.yaml
  .github/workflows/require-release-label.yml
Labels: topic/ops-&-contributing-dx, release:chore

#5194 feat(windicss): add windicss ui setup
  packages/cli/src/commands/setup/ui/libraries/windicss.js
Labels: topic/cli, release:feature

#3783 Scaffold should not generate autogenerated fields
  packages/cli/src/commands/generate/scaffold/__tests__/editableColumns.test.js
  packages/cli/src/commands/generate/scaffold/__tests__/fixtures/schema.prisma
  packages/cli/src/commands/generate/scaffold/scaffold.js
Labels: topic/generators-&-scaffolds, release:fix

#5203 Docs: Add mutation code to delete an image from Filestack.
  docs/docs/how-to/file-uploads.md
Labels: topic/docs, release:docs

#5272 Adds admonitions to Tutorial
  docs/docs/tutorial/afterword.md
  docs/docs/tutorial/chapter1/file-structure.md
  docs/docs/tutorial/chapter1/first-page.md
  docs/docs/tutorial/chapter1/installation.md
  docs/docs/tutorial/chapter1/layouts.md
  docs/docs/tutorial/chapter1/prerequisites.md
  docs/docs/tutorial/chapter1/second-page.md
  docs/docs/tutorial/chapter2/cells.md
  docs/docs/tutorial/chapter2/getting-dynamic.md
  docs/docs/tutorial/chapter2/routing-params.md
  docs/docs/tutorial/chapter2/side-quest.md
  docs/docs/tutorial/chapter3/forms.md
  docs/docs/tutorial/chapter3/saving-data.md
  docs/docs/tutorial/chapter4/authentication.md
  docs/docs/tutorial/chapter4/deployment.md
  docs/docs/tutorial/chapter5/first-test.md
  docs/docs/tutorial/chapter5/storybook.md
  docs/docs/tutorial/chapter6/comment-form.md
  docs/docs/tutorial/chapter6/comments-schema.md
  docs/docs/tutorial/chapter6/multiple-comments.md
  docs/docs/tutorial/chapter6/the-redwood-way.md
  docs/docs/tutorial/chapter7/rbac.md
  docs/docs/tutorial/foreword.md
  docs/src/css/custom.css
Labels: topic/docs, release:docs

#5248 Support scenario filenames with multiple dots
  packages/testing/config/jest/api/jest.setup.js
Labels: topic/testing, release:fix

#5260 [chore] add release:docs to release notes
  tasks/release/generateReleaseNotes.mjs
Labels: release:chore

#5107 Tutorial: Add TS code blocks
  docs/.eslintrc.js
  docs/docs/tutorial/chapter1/file-structure.md
  docs/docs/tutorial/chapter1/first-page.md
  docs/docs/tutorial/chapter1/installation.md
  docs/docs/tutorial/chapter1/layouts.md
  docs/docs/tutorial/chapter1/second-page.md
  docs/docs/tutorial/chapter2/cells.md
  docs/docs/tutorial/chapter2/getting-dynamic.md
  docs/docs/tutorial/chapter2/routing-params.md
  docs/docs/tutorial/chapter2/side-quest.md
  docs/docs/tutorial/chapter3/forms.md
  docs/docs/tutorial/chapter3/saving-data.md
  docs/docs/tutorial/chapter4/authentication.md
  docs/docs/tutorial/chapter5/first-story.md
  docs/docs/tutorial/chapter5/first-test.md
  docs/docs/tutorial/chapter5/storybook.md
  docs/docs/tutorial/chapter6/comment-form.md
  docs/docs/tutorial/chapter6/comments-schema.md
  docs/docs/tutorial/chapter6/multiple-comments.md
  docs/docs/tutorial/chapter6/the-redwood-way.md
  docs/docs/tutorial/chapter7/rbac.md
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/FileExtSwitcher.tsx
  docs/src/css/custom.css
  docs/src/remark/auto-import-tabs.js
  docs/src/remark/file-ext-switcher.js
  docs/tsconfig.json
  docs/yarn.lock
Labels: topic/docs, release:feature

#5287 Try fixing prettier babel-ts type error
  package.json
  packages/cli/package.json
  packages/codemods/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/graphql-server/package.json
  packages/internal/package.json
  packages/record/package.json
  packages/router/package.json
  yarn.lock
Labels: release:chore

#5295 fix prettier codemods and CLI failing test; revert glob v8 PR
  packages/cli/src/commands/generate/scaffold/__tests__/editableColumns.test.js
  packages/cli/src/lib/__tests__/index.test.js
  packages/codemods/src/testUtils/index.ts
  packages/internal/package.json
  yarn.lock
Labels: release:fix

#5136 Update scaffold css files to add bg to odd rows and border to segment
  __fixtures__/test-project/web/src/scaffold.css
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.css.template
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.tailwind.css.template
Labels: topic/generators-&-scaffolds, release:feature

#4849 Adds help documentation for errors when generating SDL/Scaffolds with schema relations
  docs/docs/cli-commands.md
  docs/docs/schema-relations.md
Labels: release:chore

#5312 Update schema relations doc
  docs/docs/schema-relations.md
Labels: release:docs

#5313 Remove unnecessary highlight from docs
  docs/docs/tutorial/chapter3/forms.md
Labels: release:docs

#5315 Pass canary/rc version to slack payload
  .github/actions/message_slack/action.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-npm-canary.yaml
  .github/workflows/publish-npm-rc.yaml
  .github/workflows/publish-release-candidate.yml
Labels: topic/ops-&-contributing-dx, release:chore

#5316 Remove last paragraph in tutorial from info block
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:docs

#5317 Fix: api side file extension in "Saving Data" docs
  docs/docs/tutorial/chapter3/saving-data.md
Labels: topic/docs, release:docs

#5319 Pass secret to slack message action
  .github/actions/message_slack/action.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-release-candidate.yml
Labels: release:chore

#5314 Clarify wording and remove unused code
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:docs

#5320 [Canary publishing] add back git describe
  .github/actions/message_slack/action.yml
  .github/workflows/publish-canary.yml
Labels: topic/ops-&-contributing-dx, release:chore

#5322 Use `jq` to get status emoji for publish action
  .github/actions/message_slack/action.yml
Labels: topic/ops-&-contributing-dx, release:chore

#5321 Tweak documentation for generator troubleshooting
  docs/docs/cli-commands.md
  docs/docs/schema-relations.md
Labels: release:docs

#5325 Added missing interface.
  docs/docs/tutorial/chapter6/comment-form.md
Labels: release:docs

#4592 Slight tweak for Contributing.md
  CONTRIBUTING.md
Labels: topic/docs, topic/ops-&-contributing-dx, release:chore

#5328 Netlify: ignore PRs without changes in the docs directory
  docs/ignore_build.js
  docs/netlify.toml
Labels: topic/ops-&-contributing-dx, release:chore

#5323 docs/: yet another batch of single-bit typo squashing
  docs/docs/forms.md
  docs/docs/tutorial/chapter4/authentication.md
  docs/docs/tutorial/chapter6/comment-form.md
  docs/docs/tutorial/intermission.md
Labels: release:docs

#5327 Generate RC release notes
  tasks/release/__tests__/generateReleaseNotes.test.mjs
  tasks/release/cli.mjs
  tasks/release/generateReleaseNotes.mjs
Labels: topic/ops-&-contributing-dx, release:chore

#5324 Remove `git reset` in canary workflow
  .github/workflows/publish-canary.yml
  .github/workflows/publish-release-candidate.yml
  package.json
Labels: topic/ops-&-contributing-dx, release:chore

#5338 (chore) minor changes to package publishing Slack notifications
  .github/actions/message_slack_publishing/action.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-release-candidate.yml
Labels: release:chore

#5333 Minor changes to get code working
  docs/docs/how-to/file-uploads.md
Labels: release:docs

#5340 Updated testing.md to reflect tutorial flow
  docs/docs/tutorial/chapter5/testing.md
Labels: release:docs

#5341 Grammar change
  docs/docs/tutorial/chapter4/authentication.md
Labels: release:docs

#5216 Use GraphQL Codegen to generate more accurate resolver types
  packages/cli/src/commands/generate/service/__tests__/__snapshots__/service.test.js.snap
  packages/cli/src/commands/generate/service/templates/service.ts.template
  packages/graphql-server/src/functions/types.ts
  packages/internal/src/__tests__/__snapshots__/graphqlCodeGen.test.ts.snap
  packages/internal/src/generate/graphqlCodeGen.ts
Labels: release:feature

#5352 Remove unused `SubmitHandler` in example JavaScript code
  docs/docs/tutorial/chapter3/saving-data.md
Labels: release:docs

#5356 Patch all-contributors-cli
  .yarn/patches/all-contributors-cli-npm-6.20.0-ba332c4a3e.patch
  package.json
  yarn.lock
Labels: topic/ops-&-contributing-dx, release:chore
