Repository redwoodjs/graphql, pull requests merged in 2022-05, with the labels that each got.

#5369 fix(docs): add WindiCSS in setup ui list
  docs/docs/cli-commands.md
Labels: release:docs

#5377 modify typescript example
  docs/docs/tutorial/chapter5/first-story.md
Labels: release:docs

#5353 Update local-postgres-setup.md
  docs/docs/local-postgres-setup.md
Labels: release:docs

#5394 Fix broken link in authentication.md
  docs/docs/authentication.md
Labels: release:docs

#5395 Update local-postgres-setup.md
  docs/docs/local-postgres-setup.md
Labels: release:docs

#5336 auth template: optional roles for requireAuth
  docs/docs/tutorial/chapter4/authentication.md
  packages/cli/src/commands/setup/auth/templates/auth.ts.template
Labels: release:fix

#5366 Update FatalErrorPage codemod to work with hybrid JS/TS projects
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/__testfixtures__/javascript/input/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/__testfixtures__/javascript/output/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/__testfixtures__/typescript/input/web/src/pages/FatalErrorPage/FatalErrorPage.tsx
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/__testfixtures__/typescript/output/web/src/pages/FatalErrorPage/FatalErrorPage.tsx
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/__tests__/updateDevFatalErrorPage.test.ts
  packages/codemods/src/codemods/v0.50.x/updateDevFatalErrorPage/updateDevFatalErrorPage.ts
Labels: release:fix

#4919 chore(story📗): extract MSW logic into a loader
  packages/testing/config/storybook/preview.js
  packages/testing/src/web/StorybookProvider.tsx
Labels: topic/storybook, release:chore

#5408 Add graphql-scalars to graphql-server
  packages/graphql-server/package.json
  yarn.lock
Labels: release:chore

#5213 codegen graphql schema
  packages/internal/src/__tests__/__snapshots__/graphqlSchema.test.ts.snap
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/api/db/schema.prisma
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/api/src/directives/requireAuth/requireAuth.js
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/api/src/directives/skipAuth/skipAuth.js
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/api/src/graphql/books.sdl.ts
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/api/src/lib/db.js
  packages/internal/src/__tests__/fixtures/graphqlCodeGen/bookshelf/redwood.toml
  packages/internal/src/__tests__/graphqlCodeGen.test.ts
  packages/internal/src/__tests__/graphqlSchema.test.ts
  packages/internal/src/generate/generate.ts
  packages/internal/src/generate/graphqlSchema.ts
Labels: release:feature

#5368 cli upgrade: Always search from the start for semvers
  packages/cli/src/commands/upgrade.js
Labels: release:fix

#5414 Remove extra checkout in RC workflow
  .github/workflows/publish-release-candidate.yml
Labels: release:chore

#5329 Add playwright smoke tests for storybook
  .github/workflows/ci.yml
  packages/cli/src/commands/storybook.js
  tasks/e2e/cypress/integration/03-storybook/codemods/Step1_1_BlogPostStory.js
  tasks/e2e/cypress/integration/03-storybook/codemods/Step2_1_BlogPostCellMock.js
  tasks/e2e/cypress/integration/03-storybook/codemods/Step2_2_BlogPostsCellMock.js
  tasks/e2e/cypress/integration/03-storybook/storybook.spec.js
  tasks/smoke-test/playwright-fixtures/storybook.fixture.ts
  tasks/smoke-test/playwright.config.ts
  tasks/smoke-test/tests/rbacChecks.spec.ts
  tasks/smoke-test/tests/storybook.spec.ts
Labels: release:chore

#4461 chore(core): Add jest config back to rwjs/core
  packages/core/config/__tests__/webpack.common.test.js
  packages/core/jest.config.js
  packages/core/package.json
  yarn.lock
Labels: release:chore

#5424 Update rbac.md
  docs/docs/tutorial/chapter7/rbac.md
Labels: release:docs

#5407 docs(tutorial6) - change a test file name
  docs/docs/tutorial/chapter6/multiple-comments.md
Labels: release:docs

#5058 Correct highlighted lines and wrap `<comment>`s in React fragment in tutorial chapter 6
  docs/docs/tutorial/chapter6/multiple-comments.md
Labels: release:docs

#5274 Support Query and QueryVariables type arguments in mockGraphQLQuery and mockGraphQLMutation
  packages/testing/src/web/mockRequests.ts
Labels: next-release/update-docs, release:feature

#5442 Set default value for RC release notes
  tasks/release/generateReleaseNotes.mjs
Labels: topic/ops-&-contributing-dx, release:chore

#5457 fix: declare missing dependencies
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/auth/src/authClients/firebase.ts
  packages/auth/src/authClients/supabase.ts
  packages/codemods/package.json
  packages/forms/package.json
  packages/router/package.json
  packages/web/package.json
  yarn.lock
Labels: release:fix

#5469 fix: declare `@babel/runtime-corejs3` and `core-js` as dependencies
  constraints.pro
  packages/api-server/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/cli/package.json
  packages/create-redwood-app/package.json
  packages/forms/package.json
  packages/graphql-server/package.json
  packages/prerender/package.json
  packages/record/package.json
  packages/router/package.json
  packages/structure/package.json
  packages/telemetry/package.json
  packages/testing/package.json
  packages/web/package.json
  yarn.lock
Labels: release:fix

#5458 fix: Run dedupe during upgrade on yarn 3
  packages/cli/src/commands/upgrade.js
Labels: topic/cli, release:fix

#5475 Fixing type for BrowserOnly children
  packages/prerender/src/browserUtils/index.ts
Labels: release:fix

#5484 fixed typo of roll to role
  docs/docs/tutorial/chapter7/rbac.md
Labels: release:docs

#5490 Pluralize: Fix typo and lastIndexOf call
  packages/cli/src/lib/pluralHelpers.js
  packages/cli/src/lib/rwPluralize.js
  packages/cli/src/lib/schemaHelpers.js
Labels: release:fix

#5506 Fix prisma command space handling
  packages/cli/src/commands/__tests__/prisma.test.js
  packages/cli/src/commands/prisma.js
Labels: topic/cli, release:fix

#5483 Add CRWA options to CLI doc
  docs/docs/cli-commands.md
Labels: topic/create-redwood-app, release:docs

#5518 Fix netlify ignore build script
  docs/ignore_build.js
Labels: topic/docs, release:fix

#5520 Update release script to handle all contributors, versioning
  package.json
  tasks/release/__tests__/__snapshots__/generateReleaseNotes.test.mjs.snap
  tasks/release/__tests__/release.test.mjs
  tasks/release/cli.mjs
  tasks/release/generateReleaseNotes.mjs
  tasks/release/octokit.mjs
  tasks/release/prompts.mjs
  tasks/release/release.mjs
  tasks/release/updatePRsMilestone.mjs
Labels: topic/ops-&-contributing-dx, release:chore

#5525 Upgrade Yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  __fixtures__/test-project/.yarn/releases/yarn-3.2.0.cjs
  __fixtures__/test-project/.yarn/releases/yarn-3.2.1.cjs
  __fixtures__/test-project/.yarnrc.yml
  __fixtures__/test-project/package.json
  package.json
  packages/create-redwood-app/template/.yarn/releases/yarn-3.2.0.cjs
  packages/create-redwood-app/template/.yarn/releases/yarn-3.2.1.cjs
  packages/create-redwood-app/template/.yarnrc.yml
  packages/create-redwood-app/template/package.json
  yarn.lock
Labels: topic/create-redwood-app, release:chore

#5531 Remove code block with typing error
  docs/docs/tutorial/chapter3/forms.md
Labels: release:docs

#5543 Try adding glob resolution to test project
  __fixtures__/test-project/package.json
Labels: topic/ops-&-contributing-dx, topic/storybook, release:chore

#5527 Fix yarn rw build web --perf option
  packages/core/config/webpack.perf.js
Labels: topic/config, release:fix

#5533 fix tsconfig.json in web template
  packages/create-redwood-app/template/web/tsconfig.json
Labels: release:fix

#5532 RWCell: Print error on gql syntax error
  packages/structure/src/model/RWCell.ts
Labels: topic/generators-&-scaffolds, topic/structure-&-vscode-ide, release:fix

#5561 Fix: try bumping glob resolution in test project
  __fixtures__/test-project/package.json
Labels: release:chore

#5477 Fix double dots in static/media
  packages/core/config/webpack.common.js
Labels: release:fix

#5381 Custom renderHook implementation for testing custom hooks
  docs/docs/testing.md
  package.json
  packages/testing/package.json
  packages/testing/src/web/customRender.tsx
  packages/testing/src/web/index.ts
  yarn.lock
Labels: release:feature

#5439 export hooks from @redwoodjs/forms
  packages/forms/src/index.tsx
Labels: release:feature

#5500 Baremetal MEGA PR
  .gitignore
  docs/docs/deploy/baremetal.md
  packages/cli/package.json
  packages/cli/src/commands/deploy/__tests__/baremetal.test.js
  packages/cli/src/commands/deploy/__tests__/fixtures/deploy.toml
  packages/cli/src/commands/deploy/baremetal.js
  packages/cli/src/commands/setup/deploy/providers/baremetal.js
  packages/cli/src/commands/setup/deploy/templates/baremetal.js
  yarn.lock
Labels: topic/deployment, release:feature-breaking

#5202 useRequireAuth: Warn on catch
  docs/docs/serverless-functions.md
  packages/graphql-server/src/functions/__tests__/fixtures/auth.ts
  packages/graphql-server/src/functions/__tests__/useRequireAuth.test.ts
  packages/graphql-server/src/functions/useRequireAuth.ts
Labels: release:feature-breaking

#5576 Fix `setup deploy serverless` on Windows
  packages/cli/src/commands/setup/deploy/helpers/index.js
Labels: topic/cli, release:fix

#5590 Fix: add missing dep terminal link to internal
  packages/internal/package.json
  yarn.lock
Labels: release:fix

#5591 Chore: remove glob resolution in test project fixture
  __fixtures__/test-project/package.json
Labels: release:chore

#5521 Remove old page loading logic
  packages/router/src/__tests__/router.test.tsx
  packages/router/src/active-route-loader.tsx
  packages/router/src/index.ts
  packages/router/src/page-loader.tsx
  packages/router/src/router.tsx
  packages/router/src/util.ts
Labels: release:fix

#5593 Fix typo
  docs/docs/redwoodrecord.md
Labels: release:docs

#5592 Fix: dedupe `addons` when merging storybook main config
  packages/testing/config/storybook/main.js
Labels: topic/storybook, release:fix

#5602 Fix and rebuild test-project fixture
  __fixtures__/test-project/.vscode/extensions.json
  __fixtures__/test-project/.yarnrc.yml
  __fixtures__/test-project/README.md
  __fixtures__/test-project/api/db/migrations/20220520095759_create_product/migration.sql
  __fixtures__/test-project/api/db/migrations/20220520095809_create_contact/migration.sql
  __fixtures__/test-project/api/db/migrations/20220520095833_db_auth/migration.sql
  __fixtures__/test-project/api/src/directives/requireAuth/requireAuth.test.ts
  __fixtures__/test-project/api/src/functions/auth.ts
  __fixtures__/test-project/api/src/graphql/contacts.sdl.ts
  __fixtures__/test-project/api/src/graphql/posts.sdl.ts
  __fixtures__/test-project/api/src/lib/auth.ts
  __fixtures__/test-project/api/src/services/contacts/contacts.ts
  __fixtures__/test-project/api/src/services/posts/posts.ts
  __fixtures__/test-project/package.json
  __fixtures__/test-project/web/package.json
  __fixtures__/test-project/web/src/Routes.tsx
  __fixtures__/test-project/web/src/components/BlogPost/BlogPost.tsx
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.mock.ts
  __fixtures__/test-project/web/src/components/BlogPostCell/BlogPostCell.tsx
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.mock.ts
  __fixtures__/test-project/web/src/components/BlogPostsCell/BlogPostsCell.tsx
  __fixtures__/test-project/web/src/components/Contact/Contact/Contact.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactForm/ContactForm.tsx
  __fixtures__/test-project/web/src/components/Contact/ContactsCell/ContactsCell.tsx
  __fixtures__/test-project/web/src/components/Contact/EditContactCell/EditContactCell.tsx
  __fixtures__/test-project/web/src/components/Contact/NewContact/NewContact.tsx
  __fixtures__/test-project/web/src/components/Post/Post/Post.tsx
  __fixtures__/test-project/web/src/components/Post/PostForm/PostForm.tsx
  __fixtures__/test-project/web/src/components/Post/PostsCell/PostsCell.tsx
  __fixtures__/test-project/web/src/layouts/BlogLayout/BlogLayout.tsx
  __fixtures__/test-project/web/src/layouts/ContactsLayout/ContactsLayout.tsx
  __fixtures__/test-project/web/src/layouts/PostsLayout/PostsLayout.tsx
  __fixtures__/test-project/web/src/pages/AboutPage/AboutPage.tsx
  __fixtures__/test-project/web/src/pages/BlogPostPage/BlogPostPage.tsx
  __fixtures__/test-project/web/src/pages/ContactPage/ContactPage.tsx
  __fixtures__/test-project/web/src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  __fixtures__/test-project/web/src/pages/HomePage/HomePage.tsx
  __fixtures__/test-project/web/src/pages/LoginPage/LoginPage.tsx
  __fixtures__/test-project/web/src/pages/ProfilePage/ProfilePage.test.tsx
  __fixtures__/test-project/web/src/pages/ProfilePage/ProfilePage.tsx
  __fixtures__/test-project/web/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  __fixtures__/test-project/web/src/pages/SignupPage/SignupPage.tsx
  __fixtures__/test-project/web/tsconfig.json
  tasks/test-project/codemods/routes.js
Labels: release:chore

#5522 Fix minor issues with the docs/tutorial
  docs/README.md
  docs/docs/tutorial/chapter2/routing-params.md
Labels: release:docs

#5544 fix(docs): Add note about TEST_DATABASE_URL
  docs/docs/tutorial/chapter5/testing.md
Labels: release:docs

#5613 Fix: try pinning @mswjs/interceptors internally
  packages/testing/package.json
Labels: release:fix

#5615 Revert "Fix: try pinning @mswjs/interceptors internally (#5613)"
  packages/testing/package.json
Labels: release:chore

#5582 Update scaffold.css.template
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffold.test.js.snap
  packages/cli/src/commands/generate/scaffold/__tests__/__snapshots__/scaffoldNoNest.test.js.snap
  packages/cli/src/commands/generate/scaffold/templates/assets/scaffold.css.template
Labels: topic/generators-&-scaffolds, bug/confirmed, release:fix

#5614 Fix: use v1 range in setup chakra for `@chakra-ui/react`
  packages/cli/src/commands/setup/ui/libraries/chakra-ui.js
Labels: topic/cli, release:fix

#5570 fix: `emotion` compatibility with latest storybook
  packages/testing/config/storybook/main.js
Labels: topic/storybook, release:fix

#5456 fix(storybook): support mdx
  __fixtures__/test-project/web/src/Redwood.stories.mdx
  packages/testing/config/storybook/main.js
  packages/testing/package.json
  tasks/smoke-test/tests/storybook.spec.ts
  tasks/test-project/codemods/Redwood.stories.mdx
  tasks/test-project/tasks.js
  yarn.lock
Labels: topic/storybook, release:feature

#5646 Fix: revert kill-port upgrade
  packages/internal/package.json
  yarn.lock
Labels: release:fix

#5652 Fix typo in RBAC docs
  docs/docs/how-to/role-based-access-control.md
Labels: release:docs

#5631 yet another batch of typo squashing
  docs/docs/deploy/baremetal.md
Labels: release:docs

#5660 fix: The error was caused by not declaring the variable $id.
  docs/docs/tutorial/chapter2/routing-params.md
  docs/versioned_docs/version-1.5/tutorial/chapter2/routing-params.md
Labels: release:docs

#5645 docs: Details for TS generics when mocking queries
  docs/docs/mocking-graphql-requests.md
Labels: topic/typescript, release:docs
