Repository redwoodjs/graphql, pull requests merged in 2025-04, with the labels that each got.

#12016 chore(deps): Bump Vite to 5.4.16
  packages/ogimage-gen/package.json
  packages/storybook/package.json
  packages/vite/package.json
  yarn.lock
Labels: changesets-ok, release:dependency

#12018 Typo Fix: Update realtime.md
  docs/docs/graphql/realtime.md
Labels: release:docs

#12015 ✨ Added Announcement Bar to Docs
  docs/docusaurus.config.ts
Labels: release:docs, changesets-ok
